In [1]:
# Import all the necessary libraries

import numpy as np # Mathematical Calculations
import pandas as pd # Data operations and summaries
import seaborn as sns # Good data visualizations
import matplotlib.pyplot as plt # basic Visualizations
import statsmodels.api as sm # Statistical Models
import warnings
warnings.simplefilter(action='ignore')
from scipy import stats
# scikit learn - Machine Learning

In [2]:
bank = pd.read_csv("D:\\BITS\\2023_S1\\bank.csv")

# Preliminary Checks

In [3]:
len(bank) # Number of Rows in the data

11162

In [4]:
bank.shape # Number of rows and columns

(11162, 17)

In [5]:

bank.head(10)# Extract the top n observations from the data

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
5,42,management,single,tertiary,no,0,yes,yes,unknown,5,may,562,2,-1,0,unknown,yes
6,56,management,married,tertiary,no,830,yes,yes,unknown,6,may,1201,1,-1,0,unknown,yes
7,60,retired,divorced,secondary,no,545,yes,no,unknown,6,may,1030,1,-1,0,unknown,yes
8,37,technician,married,secondary,no,1,yes,no,unknown,6,may,608,1,-1,0,unknown,yes
9,28,services,single,secondary,no,5090,yes,no,unknown,6,may,1297,3,-1,0,unknown,yes

In [6]:
bank.tail(10) # Extracts the last n observations

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
11152,34,housemaid,married,secondary,no,390,yes,no,cellular,15,jul,659,3,-1,0,unknown,no
11153,43,admin.,single,secondary,no,35,no,no,telephone,9,nov,208,1,-1,0,unknown,no
11154,52,technician,married,tertiary,no,523,yes,yes,cellular,8,jul,113,1,-1,0,unknown,no
11155,35,blue-collar,married,secondary,no,80,yes,yes,cellular,21,nov,38,2,172,2,failure,no
11156,34,blue-collar,single,secondary,no,-72,yes,no,cellular,7,jul,273,5,-1,0,unknown,no
11157,33,blue-collar,single,primary,no,1,yes,no,cellular,20,apr,257,1,-1,0,unknown,no
11158,39,services,married,secondary,no,733,no,no,unknown,16,jun,83,4,-1,0,unknown,no
11159,32,technician,single,secondary,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown,no
11160,43,technician,married,secondary,no,0,no,yes,cellular,8,may,9,2,172,5,failure,no
11161,34,technician,married,secondary,no,0,no,no,cellular,9,jul,628,1,-1,0,unknown,no

In [7]:
bank.sample(10) # Randomly checking some observations in the middle

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
7900,57,technician,married,secondary,no,589,yes,no,cellular,28,jan,198,1,244,1,other,no
3749,24,admin.,single,secondary,no,1295,no,no,cellular,22,jul,355,2,92,1,success,yes
5595,29,unemployed,single,tertiary,no,7,no,no,cellular,6,may,51,1,179,1,failure,no
3756,93,retired,married,unknown,no,775,no,no,cellular,22,jul,860,2,177,7,success,yes
3767,46,admin.,married,unknown,no,5511,no,no,cellular,26,jul,414,2,389,1,success,yes
6823,40,housemaid,divorced,secondary,no,4328,no,no,cellular,20,aug,133,2,-1,0,unknown,no
10605,35,entrepreneur,married,tertiary,no,542,yes,yes,unknown,27,may,591,5,-1,0,unknown,no
6900,45,management,married,secondary,no,21,yes,no,unknown,3,jun,788,2,-1,0,unknown,no
4638,37,unemployed,single,secondary,no,443,no,no,cellular,29,jan,1600,1,-1,0,unknown,yes
5799,77,retired,divorced,primary,no,639,no,no,telephone,16,apr,127,7,-1,0,unknown,no

In [8]:
bank.columns # Display the names of the columns
# Advisable to change the names of the columns especially when there is no clarity in the names or when there are spaces in the names

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'deposit'],
      dtype='object')

In [9]:
# Renaming the column names appropriately
bank.rename(columns={ 'default':'Previously_defaulted', 'balance':'Savings_balance','housing':'housing_Loan','loan':'Personal_Loan',
                    'contact':'Mode_of_Contact','day':'Date_Contacted', 'month':'Month_Contacted', 'duration':'Call_Duration',
                    'campaign':'Num_Calls_made','pdays':'Days_since_last_contact', 'previous':'Num-calls_made_earlier',
                    'poutcome':'Outcome_previous_call'},inplace=True)# Renames the columns

In [10]:
bank.info()# Gives information on Missing values, Data Types
# Check whether any of the columns differ in their data type from what is typically expected

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age                      11162 non-null  int64
 1   job                      11162 non-null  object
 2   marital                  11162 non-null  object
 3   education                11162 non-null  object
 4   Previously_defaulted     11162 non-null  object
 5   Savings_balance          11162 non-null  int64
 6   housing_Loan             11162 non-null  object
 7   Personal_Loan            11162 non-null  object
 8   Mode_of_Contact          11162 non-null  object
 9   Date_Contacted           11162 non-null  int64
 10  Month_Contacted          11162 non-null  object
 11  Call_Duration            11162 non-null  int64
 12  Num_Calls_made           11162 non-null  int64
 13  Days_since_last_contact  11162 non-null  int64
 14  Num-calls_made_earlier   11162 non-null  int64
 15  Outcome_previous_call    11162 non-null  object
 16  deposit                  11162 non-null  object
dtypes: int64(7), object(10)
memory usage: 1.4+ MB

In [11]:
# Changing the data type
bank["Date_Contacted"] = bank["Date_Contacted"].astype("object")
bank["Date_Contacted"] = bank["Date_Contacted"].astype("int64")

In [12]:
bank.describe()# Descriptive Statistics of the columns (Numerical columns)

,age,Savings_balance,Date_Contacted,Call_Duration,Num_Calls_made,Days_since_last_contact,Num-calls_made_earlier
count,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000
mean,41.231948,1528.538524,15.658036,371.993818,2.508421,51.330407,0.832557
std,11.913369,3225.413326,8.420740,347.128386,2.722077,108.758282,2.292007
min,18.000000,-6847.000000,1.000000,2.000000,1.000000,-1.000000,0.000000
25%,32.000000,122.000000,8.000000,138.000000,1.000000,-1.000000,0.000000
50%,39.000000,550.000000,15.000000,255.000000,2.000000,-1.000000,0.000000
75%,49.000000,1708.000000,22.000000,496.000000,3.000000,20.750000,1.000000
max,95.000000,81204.000000,31.000000,3881.000000,63.000000,854.000000,58.000000

In [13]:
bank.describe(include=['O']) # Basic summary of categorical columns

,job,marital,education,Previously_defaulted,housing_Loan,Personal_Loan,Mode_of_Contact,Month_Contacted,Outcome_previous_call,deposit
count,11162,11162,11162,11162,11162,11162,11162,11162,11162,11162
unique,12,3,4,2,2,2,3,12,4,2
top,management,married,secondary,no,no,no,cellular,may,unknown,no
freq,2566,6351,5476,10994,5881,9702,8042,2824,8326,5873

In [14]:
bank.nunique() # Unique number of values in each column

age                          76
job                          12
marital                       3
education                     4
Previously_defaulted          2
Savings_balance            3805
housing_Loan                  2
Personal_Loan                 2
Mode_of_Contact               3
Date_Contacted               31
Month_Contacted              12
Call_Duration              1428
Num_Calls_made               36
Days_since_last_contact     472
Num-calls_made_earlier       34
Outcome_previous_call         4
deposit                       2
dtype: int64

In [15]:
bank.skew()#symmetricity of the data

age                        0.862780
Savings_balance            8.224619
Date_Contacted             0.111330
Call_Duration              2.143695
Num_Calls_made             5.545578
Days_since_last_contact    2.449986
Num-calls_made_earlier     7.335298
dtype: float64

In [16]:
bank.kurtosis() # Peaked nature of the data ..The deviation of the data from normality

age                          0.621540
Savings_balance            126.861303
Date_Contacted              -1.061324
Call_Duration                7.301282
Num_Calls_made              57.389771
Days_since_last_contact      6.838359
Num-calls_made_earlier     106.197826
dtype: float64

In [17]:
cat_columns = bank.select_dtypes(include='object').columns
num_columns = bank.select_dtypes(exclude='object').columns

# Display the Frequency of each of the categories in the cateogircal columns
for var in cat_columns: 
    print("Name of the Category---------", var)
    print(bank[var].value_counts())

Name of the Category--------- job
management       2566
blue-collar      1944
technician       1823
admin.           1334
services          923
retired           778
self-employed     405
student           360
unemployed        357
entrepreneur      328
housemaid         274
unknown            70
Name: job, dtype: int64
Name of the Category--------- marital
married     6351
single      3518
divorced    1293
Name: marital, dtype: int64
Name of the Category--------- education
secondary    5476
tertiary     3689
primary      1500
unknown       497
Name: education, dtype: int64
Name of the Category--------- Previously_defaulted
no     10994
yes      168
Name: Previously_defaulted, dtype: int64
Name of the Category--------- housing_Loan
no     5881
yes    5281
Name: housing_Loan, dtype: int64
Name of the Category--------- Personal_Loan
no     9702
yes    1460
Name: Personal_Loan, dtype: int64
Name of the Category--------- Mode_of_Contact
cellular     8042
unknown      2346
telephone     774
Name: Mode_of_Contact, dtype: int64
Name of the Category--------- Month_Contacted
may    2824
aug    1519
jul    1514
jun    1222
nov     943
apr     923
feb     776
oct     392
jan     344
sep     319
mar     276
dec     110
Name: Month_Contacted, dtype: int64
Name of the Category--------- Outcome_previous_call
unknown    8326
failure    1228
success    1071
other       537
Name: Outcome_previous_call, dtype: int64
Name of the Category--------- deposit
no     5873
yes    5289
Name: deposit, dtype: int64

In [18]:
# Errors replacing them with blank values (Data Validation)

bank['Savings_balance'][bank['Savings_balance']<0] = np.nan
bank['Days_since_last_contact'][bank['Days_since_last_contact'] < 0] = np.nan
bank['Call_Duration'][bank['Call_Duration'] < 5] = np.nan
#Winsorization
# Adjust to the minimum or the maximum value

In [19]:
# Any category with less than 30 occurrences, I will replace them with blanks

for var in cat_columns: 
    
    insuf_Values = bank[var].value_counts()[bank[var].value_counts()<30].reset_index()
    bank[var][bank[var].isin(insuf_Values["index"])] = np.nan

In [20]:
# Count the number of missing values ine ach column
bank.isnull().sum().sort_values(ascending=False)

Days_since_last_contact    8324
Savings_balance             688
Call_Duration                 4
age                           0
Date_Contacted                0
Outcome_previous_call         0
Num-calls_made_earlier        0
Num_Calls_made                0
Month_Contacted               0
Mode_of_Contact               0
job                           0
Personal_Loan                 0
housing_Loan                  0
Previously_defaulted          0
education                     0
marital                       0
deposit                       0
dtype: int64

In [21]:
# In case you want to delete a column
# bank.drop(["Days_since_last_contact"],axis=1, inplace = True)

In [22]:
bank["Days_since_last_contact"].fillna(1000, inplace=True)
bank["Savings_balance"].fillna(bank['Savings_balance'].min(), inplace=True)

In [23]:
# Replacing a blank in a categorical variable with the mode of that category
#bank["marital"].fillna(bank['marital'].value_counts().idxmax(), inplace=True)

In [24]:
# Remove the missing rows
bank.dropna(axis=0, inplace = True)

In [25]:
# Create new Features
bank['Duration_per_Call'] = bank['Call_Duration'] / bank['Num_Calls_made']

In [26]:
# One categorical One numerical column - Descriptive Statistics across the categories
for var in cat_columns: 
    print(bank.groupby(var).mean())

                     age  Savings_balance  Date_Contacted  Call_Duration  \
job
admin.         39.374063      1214.076462       15.340330     347.929535
blue-collar    39.505149      1232.495881       15.235839     395.062822
entrepreneur   42.887195      1656.743902       15.442073     370.182927
housemaid      47.445255      1381.733577       16.364964     348.346715
management     40.220273      1812.977388       15.790253     361.621442
retired        65.424165      2426.007712       15.519280     389.993573
self-employed  39.809877      1884.967901       15.938272     396.155556
services       38.141928      1105.399783       15.728061     385.955580
student        26.102778      1500.783333       15.175000     330.672222
technician     39.001646      1578.040592       16.173341     363.791552
unemployed     41.036517      1327.250000       15.547753     424.019663
unknown        46.857143      1945.457143       15.457143     330.371429

               Num_Calls_made  Days_since_last_contact  \
job
admin.               2.376312               772.692654
blue-collar          2.542739               853.876416
entrepreneur         2.725610               872.000000
housemaid            2.689781               844.569343
management           2.588694               772.243275
retired              2.131105               738.778920
self-employed        2.533333               803.822222
services             2.576381               838.898158
student              2.169444               672.063889
technician           2.642348               803.351070
unemployed           2.137640               781.589888
unknown              2.785714               785.028571

               Num-calls_made_earlier  Duration_per_Call
job
admin.                       0.973763         231.773124
blue-collar                  0.633883         249.437504
entrepreneur                 0.536585         219.047034
housemaid                    0.503650         204.672661
management                   0.924756         223.850737
retired                      0.994859         271.146687
self-employed                0.804938         248.612768
services                     0.684724         242.435707
student                      1.297222         223.777489
technician                   0.843116         222.659345
unemployed                   0.814607         276.962482
unknown                      0.700000         218.503846
                age  Savings_balance  Date_Contacted  Call_Duration  \
marital
divorced  47.365043      1399.047951       15.689869     392.481825
married   44.535202      1622.510317       15.679005     361.176721
single    33.018487      1470.976962       15.608646     384.411832

          Num_Calls_made  Days_since_last_contact  Num-calls_made_earlier  \
marital
divorced        2.457077               835.529002                0.664346
married         2.621988               801.256733                0.822492
single          2.323948               777.583902                0.912969

          Duration_per_Call
marital
divorced         254.129624
married          223.649030
single           251.117977
                 age  Savings_balance  Date_Contacted  Call_Duration  \
education
primary    48.246493      1546.186373       15.514362     384.566466
secondary  40.086012      1318.534879       15.568846     373.344960
tertiary   39.514371      1863.610629       15.781182     368.726681
unknown    45.523139      1759.171026       16.160966     346.448692

           Num_Calls_made  Days_since_last_contact  Num-calls_made_earlier  \
education
primary          2.649299               853.830995                0.689379
secondary        2.470051               805.331629                0.821768
tertiary         2.487798               765.134219                0.924078
unknown          2.672032               787.740443                0.706237

           Duration_per_Call
education
primary           235.368257
secondary         242.273392
tertiary          228.107727
unknown           223.684966
                            age  Savings_balance  Date_Contacted  \
Previously_defaulted
no                    41.250955      1570.153139       15.640036
yes                   40.130952       156.303571       16.839286

                      Call_Duration  Num_Calls_made  Days_since_last_contact  \
Previously_defaulted
no                       372.546952        2.498544               795.367152
yes                      344.589286        3.190476               954.869048

                      Num-calls_made_earlier  Duration_per_Call
Previously_defaulted
no                                  0.842675         236.036480
yes                                 0.178571         222.780854
                    age  Savings_balance  Date_Contacted  Call_Duration  \
housing_Loan
no            43.140500      1773.098146       15.775812     360.585814
yes           39.111006      1299.147187       15.526994     384.977837

              Num_Calls_made  Days_since_last_contact  Num-calls_made_earlier  \
housing_Loan
no                   2.49175               781.143052                0.834326
yes                  2.52813               816.283955                0.830839

              Duration_per_Call
housing_Loan
no                   227.626137
yes                  244.980875
                     age  Savings_balance  Date_Contacted  Call_Duration  \
Personal_Loan
no             41.379111      1648.405609       15.601918     372.365502
yes            40.270048       887.152844       16.031528     370.533927

               Num_Calls_made  Days_since_last_contact  \
Personal_Loan
no                   2.472214               789.032271
yes                  2.753256               855.845785

               Num-calls_made_earlier  Duration_per_Call
Personal_Loan
no                           0.852768         236.426472
yes                          0.699109         231.917580
                       age  Savings_balance  Date_Contacted  Call_Duration  \
Mode_of_Contact
cellular         40.601094      1562.237876       15.598234     376.520642
telephone        50.455369      2254.199224       16.108668     352.143596
unknown          40.364490      1270.264191       15.714895     363.634656

                 Num_Calls_made  Days_since_last_contact  \
Mode_of_Contact
cellular               2.394429               741.530092
telephone              2.975420               783.134541
unknown                2.748186               995.627401

                 Num-calls_made_earlier  Duration_per_Call
Mode_of_Contact
cellular                       1.043148         241.859142
telephone                      1.055627         206.702082
unknown                        0.036705         224.778563
                       age  Savings_balance  Date_Contacted  Call_Duration  \
Month_Contacted
apr              40.247021      1748.140845       18.630553     398.721560
aug              42.826860      1591.781435       15.494404     352.072416
dec              45.745455      2735.209091       14.481818     397.054545
feb              41.943299      1576.471649        8.541237     343.125000
jan              42.345930      1159.796512       25.773256     349.482558
jul              41.123514      1100.386394       18.407530     418.867239
jun              41.539280      1621.315876       11.293781     364.742226
mar              43.427536      2123.923913       13.438406     291.369565
may              38.727241      1223.913567       15.511867     378.496635
nov              42.058386      2361.981953       17.381104     363.598726
oct              45.462916      2043.680307       19.207161     347.677749
sep              44.059748      1933.952830       12.081761     352.059748

                 Num_Calls_made  Days_since_last_contact  \
Month_Contacted
apr                    1.833153               729.625135
aug                    3.514812               849.414088
dec                    2.181818               540.872727
feb                    2.155928               686.442010
jan                    1.729651               708.613372
jul                    3.294584               923.859974
jun                    2.853519               877.928805
mar                    2.003623               704.641304
may                    2.328728               837.742118
nov                    1.817410               715.531847
oct                    1.514066               590.593350
sep                    1.729560               521.786164

                 Num-calls_made_earlier  Duration_per_Call
Month_Contacted
apr                            0.980498         288.000178
aug                            0.624753         174.969512
dec                            2.218182         256.484729
feb                            1.304124         235.475399
jan                            1.290698         255.630503
jul                            0.363276         224.889505
jun                            0.505728         222.560757
mar                            1.242754         203.381497
may                            0.734325         248.625901
nov                            0.960722         253.906646
oct                            1.506394         275.753246
sep                            2.072327         262.674149
                             age  Savings_balance  Date_Contacted  \
Outcome_previous_call
failure                40.958469      1557.137622       14.020358
other                  40.240223      1945.567970       15.376164
success                43.511215      1982.360748       14.507477
unknown                41.046137      1466.319957       16.065842

                       Call_Duration  Num_Calls_made  Days_since_last_contact  \
Outcome_previous_call
failure                   338.460098        1.887622               237.730456
other                     358.433892        2.221601               216.484171
success                   348.258879        1.742056               160.777570
unknown                   381.044936        2.717770               999.794065

                       Num-calls_made_earlier  Duration_per_Call
Outcome_previous_call
failure                              3.021987         241.598127
other                                4.162011         232.258921
success                              3.123364         255.498190
unknown                              0.000360         232.690076
              age  Savings_balance  Date_Contacted  Call_Duration  \
deposit
no       40.84120      1307.865906       16.108536     223.280116
yes      41.67007      1816.293628       15.158253     537.294574

         Num_Calls_made  Days_since_last_contact  Num-calls_made_earlier  \
deposit
no             2.840518               877.619526                0.528369
yes            2.141047               709.161278                1.170354

         Duration_per_Call
deposit
no              138.589048
yes             343.749098

In [27]:
from itertools import product
cat1 = bank[cat_columns]
cat2 = bank[cat_columns]
cat_var_prod = list(product(cat1,cat2, repeat = 1))
cat_var_prod

[('job', 'job'),
 ('job', 'marital'),
 ('job', 'education'),
 ('job', 'Previously_defaulted'),
 ('job', 'housing_Loan'),
 ('job', 'Personal_Loan'),
 ('job', 'Mode_of_Contact'),
 ('job', 'Month_Contacted'),
 ('job', 'Outcome_previous_call'),
 ('job', 'deposit'),
 ('marital', 'job'),
 ('marital', 'marital'),
 ('marital', 'education'),
 ('marital', 'Previously_defaulted'),
 ('marital', 'housing_Loan'),
 ('marital', 'Personal_Loan'),
 ('marital', 'Mode_of_Contact'),
 ('marital', 'Month_Contacted'),
 ('marital', 'Outcome_previous_call'),
 ('marital', 'deposit'),
 ('education', 'job'),
 ('education', 'marital'),
 ('education', 'education'),
 ('education', 'Previously_defaulted'),
 ('education', 'housing_Loan'),
 ('education', 'Personal_Loan'),
 ('education', 'Mode_of_Contact'),
 ('education', 'Month_Contacted'),
 ('education', 'Outcome_previous_call'),
 ('education', 'deposit'),
 ('Previously_defaulted', 'job'),
 ('Previously_defaulted', 'marital'),
 ('Previously_defaulted', 'education'),
 ('Previously_defaulted', 'Previously_defaulted'),
 ('Previously_defaulted', 'housing_Loan'),
 ('Previously_defaulted', 'Personal_Loan'),
 ('Previously_defaulted', 'Mode_of_Contact'),
 ('Previously_defaulted', 'Month_Contacted'),
 ('Previously_defaulted', 'Outcome_previous_call'),
 ('Previously_defaulted', 'deposit'),
 ('housing_Loan', 'job'),
 ('housing_Loan', 'marital'),
 ('housing_Loan', 'education'),
 ('housing_Loan', 'Previously_defaulted'),
 ('housing_Loan', 'housing_Loan'),
 ('housing_Loan', 'Personal_Loan'),
 ('housing_Loan', 'Mode_of_Contact'),
 ('housing_Loan', 'Month_Contacted'),
 ('housing_Loan', 'Outcome_previous_call'),
 ('housing_Loan', 'deposit'),
 ('Personal_Loan', 'job'),
 ('Personal_Loan', 'marital'),
 ('Personal_Loan', 'education'),
 ('Personal_Loan', 'Previously_defaulted'),
 ('Personal_Loan', 'housing_Loan'),
 ('Personal_Loan', 'Personal_Loan'),
 ('Personal_Loan', 'Mode_of_Contact'),
 ('Personal_Loan', 'Month_Contacted'),
 ('Personal_Loan', 'Outcome_previous_call'),
 ('Personal_Loan', 'deposit'),
 ('Mode_of_Contact', 'job'),
 ('Mode_of_Contact', 'marital'),
 ('Mode_of_Contact', 'education'),
 ('Mode_of_Contact', 'Previously_defaulted'),
 ('Mode_of_Contact', 'housing_Loan'),
 ('Mode_of_Contact', 'Personal_Loan'),
 ('Mode_of_Contact', 'Mode_of_Contact'),
 ('Mode_of_Contact', 'Month_Contacted'),
 ('Mode_of_Contact', 'Outcome_previous_call'),
 ('Mode_of_Contact', 'deposit'),
 ('Month_Contacted', 'job'),
 ('Month_Contacted', 'marital'),
 ('Month_Contacted', 'education'),
 ('Month_Contacted', 'Previously_defaulted'),
 ('Month_Contacted', 'housing_Loan'),
 ('Month_Contacted', 'Personal_Loan'),
 ('Month_Contacted', 'Mode_of_Contact'),
 ('Month_Contacted', 'Month_Contacted'),
 ('Month_Contacted', 'Outcome_previous_call'),
 ('Month_Contacted', 'deposit'),
 ('Outcome_previous_call', 'job'),
 ('Outcome_previous_call', 'marital'),
 ('Outcome_previous_call', 'education'),
 ('Outcome_previous_call', 'Previously_defaulted'),
 ('Outcome_previous_call', 'housing_Loan'),
 ('Outcome_previous_call', 'Personal_Loan'),
 ('Outcome_previous_call', 'Mode_of_Contact'),
 ('Outcome_previous_call', 'Month_Contacted'),
 ('Outcome_previous_call', 'Outcome_previous_call'),
 ('Outcome_previous_call', 'deposit'),
 ('deposit', 'job'),
 ('deposit', 'marital'),
 ('deposit', 'education'),
 ('deposit', 'Previously_defaulted'),
 ('deposit', 'housing_Loan'),
 ('deposit', 'Personal_Loan'),
 ('deposit', 'Mode_of_Contact'),
 ('deposit', 'Month_Contacted'),
 ('deposit', 'Outcome_previous_call'),
 ('deposit', 'deposit')]

In [28]:
# Cross Tabulations of the categorical variables
for var1 in cat_columns:
    for var2 in cat_columns:
        print(pd.crosstab(bank[var1], bank[var2], normalize=True))

job              admin.  blue-collar  entrepreneur  housemaid  management  \
job
admin.         0.119555     0.000000      0.000000   0.000000     0.00000
blue-collar    0.000000     0.174046      0.000000   0.000000     0.00000
entrepreneur   0.000000     0.000000      0.029396   0.000000     0.00000
housemaid      0.000000     0.000000      0.000000   0.024556     0.00000
management     0.000000     0.000000      0.000000   0.000000     0.22988
retired        0.000000     0.000000      0.000000   0.000000     0.00000
self-employed  0.000000     0.000000      0.000000   0.000000     0.00000
services       0.000000     0.000000      0.000000   0.000000     0.00000
student        0.000000     0.000000      0.000000   0.000000     0.00000
technician     0.000000     0.000000      0.000000   0.000000     0.00000
unemployed     0.000000     0.000000      0.000000   0.000000     0.00000
unknown        0.000000     0.000000      0.000000   0.000000     0.00000

job             retired  self-employed  services   student  technician  \
job
admin.         0.000000       0.000000  0.000000  0.000000    0.000000
blue-collar    0.000000       0.000000  0.000000  0.000000    0.000000
entrepreneur   0.000000       0.000000  0.000000  0.000000    0.000000
housemaid      0.000000       0.000000  0.000000  0.000000    0.000000
management     0.000000       0.000000  0.000000  0.000000    0.000000
retired        0.069726       0.000000  0.000000  0.000000    0.000000
self-employed  0.000000       0.036297  0.000000  0.000000    0.000000
services       0.000000       0.000000  0.082721  0.000000    0.000000
student        0.000000       0.000000  0.000000  0.032264    0.000000
technician     0.000000       0.000000  0.000000  0.000000    0.163381
unemployed     0.000000       0.000000  0.000000  0.000000    0.000000
unknown        0.000000       0.000000  0.000000  0.000000    0.000000

job            unemployed   unknown
job
admin.           0.000000  0.000000
blue-collar      0.000000  0.000000
entrepreneur     0.000000  0.000000
housemaid        0.000000  0.000000
management       0.000000  0.000000
retired          0.000000  0.000000
self-employed    0.000000  0.000000
services         0.000000  0.000000
student          0.000000  0.000000
technician       0.000000  0.000000
unemployed       0.031905  0.000000
unknown          0.000000  0.006274
marital        divorced   married    single
job
admin.         0.016311  0.060674  0.042570
blue-collar    0.013354  0.119466  0.041226
entrepreneur   0.003764  0.020972  0.004660
housemaid      0.004123  0.017028  0.003406
management     0.025811  0.127980  0.076089
retired        0.015325  0.052070  0.002330
self-employed  0.003495  0.019896  0.012906
services       0.010844  0.045169  0.026707
student        0.000179  0.001344  0.030740
technician     0.018283  0.083348  0.061749
unemployed     0.004212  0.016670  0.011023
unknown        0.000179  0.004391  0.001703
education       primary  secondary  tertiary   unknown
job
admin.         0.003764   0.097150  0.015056  0.003585
blue-collar    0.062018   0.100018  0.004302  0.007707
entrepreneur   0.003674   0.012637  0.011830  0.001255
housemaid      0.012906   0.006991  0.003854  0.000807
management     0.005915   0.021330  0.195107  0.007528
retired        0.024825   0.028141  0.012547  0.004212
self-employed  0.002509   0.012189  0.020613  0.000986
services       0.007439   0.066858  0.004750  0.003674
student        0.001882   0.016939  0.007439  0.006005
technician     0.003674   0.108353  0.046693  0.004660
unemployed     0.004929   0.018821  0.007528  0.000627
unknown        0.000627   0.001344  0.000807  0.003495
Previously_defaulted        no       yes
job
admin.                0.118570  0.000986
blue-collar           0.170371  0.003674
entrepreneur          0.028500  0.000896
housemaid             0.023839  0.000717
management            0.226385  0.003495
retired               0.069278  0.000448
self-employed         0.035580  0.000717
services              0.082094  0.000627
student               0.032174  0.000090
technician            0.160782  0.002599
unemployed            0.031188  0.000717
unknown               0.006184  0.000090
housing_Loan         no       yes
job
admin.         0.053235  0.066320
blue-collar    0.055834  0.118211
entrepreneur   0.014519  0.014877
housemaid      0.017745  0.006811
management     0.133716  0.096164
retired        0.058702  0.011023
self-employed  0.020703  0.015594
services       0.031995  0.050726
student        0.027693  0.004571
technician     0.084872  0.078509
unemployed     0.021868  0.010038
unknown        0.006005  0.000269
Personal_Loan        no       yes
job
admin.         0.098405  0.021151
blue-collar    0.143933  0.030113
entrepreneur   0.023122  0.006274
housemaid      0.022764  0.001792
management     0.206578  0.023302
retired        0.064797  0.004929
self-employed  0.031278  0.005019
services       0.068919  0.013802
student        0.032174  0.000090
technician     0.141154  0.022226
unemployed     0.030023  0.001882
unknown        0.006094  0.000179
Mode_of_Contact  cellular  telephone   unknown
job
admin.           0.087112   0.007528  0.024915
blue-collar      0.102258   0.010217  0.061570
entrepreneur     0.019627   0.002330  0.007439
housemaid        0.016580   0.002778  0.005198
management       0.185159   0.011382  0.033339
retired          0.046424   0.015236  0.008066
self-employed    0.025721   0.002689  0.007887
services         0.056193   0.004123  0.022405
student          0.027872   0.002778  0.001613
technician       0.124754   0.007080  0.031547
unemployed       0.024646   0.002151  0.005108
unknown          0.004391   0.000986  0.000896
Month_Contacted       apr       aug       dec       feb       jan       jul  \
job
admin.           0.010486  0.009500  0.001165  0.008604  0.003764  0.017745
blue-collar      0.016222  0.011113  0.000627  0.006811  0.003316  0.023929
entrepreneur     0.001703  0.002330  0.000090  0.001882  0.000538  0.006094
housemaid        0.001434  0.004571  0.000179  0.001255  0.000896  0.004660
management       0.018910  0.044004  0.002420  0.017207  0.005825  0.028320
retired          0.006005  0.010486  0.002061  0.006901  0.003406  0.007528
self-employed    0.003316  0.005288  0.000269  0.002509  0.000986  0.004660
services         0.005646  0.005019  0.000717  0.004123  0.003137  0.014877
student          0.003495  0.004123  0.000717  0.003585  0.000896  0.003226
technician       0.012726  0.035401  0.001075  0.011472  0.005288  0.019089
unemployed       0.002241  0.002778  0.000538  0.004750  0.002330  0.004660
unknown          0.000538  0.001524  0.000000  0.000448  0.000448  0.000896

Month_Contacted       jun       mar       may       nov       oct       sep
job
admin.           0.013623  0.003316  0.033787  0.009141  0.004481  0.003943
blue-collar      0.023212  0.000896  0.072056  0.011561  0.002330  0.001972
entrepreneur     0.004391  0.000179  0.006184  0.004929  0.000448  0.000627
housemaid        0.004750  0.000627  0.002778  0.001792  0.001075  0.000538
management       0.021240  0.008156  0.042750  0.023122  0.008962  0.008962
retired          0.006722  0.003764  0.007887  0.004302  0.005915  0.004750
self-employed    0.004302  0.000896  0.007349  0.004750  0.001613  0.000358
services         0.010307  0.001434  0.029486  0.005557  0.001165  0.001255
student          0.002509  0.001613  0.005825  0.002330  0.002061  0.001882
technician       0.014429  0.002868  0.039075  0.013443  0.005646  0.002868
unemployed       0.003316  0.000896  0.005377  0.003137  0.000807  0.001075
unknown          0.000717  0.000090  0.000448  0.000358  0.000538  0.000269
Outcome_previous_call   failure     other   success   unknown
job
admin.                 0.016580  0.006274  0.012009  0.084693
blue-collar            0.017028  0.008156  0.008066  0.140796
entrepreneur           0.003137  0.000538  0.001075  0.024646
housemaid              0.001882  0.000807  0.001972  0.019896
management             0.026259  0.012637  0.026080  0.164904
retired                0.006542  0.003226  0.012099  0.047858
self-employed          0.003406  0.001972  0.003406  0.027514
services               0.008873  0.003226  0.005557  0.065065
student                0.003854  0.002958  0.006005  0.019448
technician             0.018641  0.007259  0.014071  0.123409
unemployed             0.003137  0.000986  0.004660  0.023122
unknown                0.000717  0.000090  0.000896  0.004571
deposit              no       yes
job
admin.         0.063004  0.056551
blue-collar    0.110593  0.063452
entrepreneur   0.018372  0.011023
housemaid      0.014788  0.009769
management     0.113282  0.116598
retired        0.023481  0.046245
self-employed  0.019538  0.016759
services       0.049650  0.033070
student        0.008156  0.024108
technician     0.088098  0.075282
unemployed     0.013802  0.018104
unknown        0.003226  0.003047
job         admin.  blue-collar  entrepreneur  housemaid  management  \
marital
divorced  0.016311     0.013354      0.003764   0.004123    0.025811
married   0.060674     0.119466      0.020972   0.017028    0.127980
single    0.042570     0.041226      0.004660   0.003406    0.076089

job        retired  self-employed  services   student  technician  unemployed  \
marital
divorced  0.015325       0.003495  0.010844  0.000179    0.018283    0.004212
married   0.052070       0.019896  0.045169  0.001344    0.083348    0.016670
single    0.002330       0.012906  0.026707  0.030740    0.061749    0.011023

job        unknown
marital
divorced  0.000179
married   0.004391
single    0.001703
marital   divorced   married   single
marital
divorced  0.115881  0.000000  0.00000
married   0.000000  0.569009  0.00000
single    0.000000  0.000000  0.31511
education   primary  secondary  tertiary   unknown
marital
divorced   0.018283   0.058433  0.034594  0.004571
married    0.098315   0.279620  0.165173  0.025901
single     0.017566   0.152716  0.130758  0.014071
Previously_defaulted        no       yes
marital
divorced              0.113372  0.002509
married               0.560853  0.008156
single                0.310719  0.004391
housing_Loan        no       yes
marital
divorced      0.059867  0.056014
married       0.290912  0.278096
single        0.176107  0.139003
Personal_Loan        no       yes
marital
divorced       0.097867  0.018014
married        0.487274  0.081735
single         0.284101  0.031009
Mode_of_Contact  cellular  telephone   unknown
marital
divorced         0.081018   0.007259  0.027604
married          0.396487   0.047051  0.125471
single           0.243234   0.014967  0.056910
Month_Contacted       apr       aug       dec       feb       jan       jul  \
marital
divorced         0.007439  0.014160  0.001075  0.006901  0.003316  0.018283
married          0.045797  0.085410  0.005915  0.037103  0.015684  0.081108
single           0.029486  0.036566  0.002868  0.025542  0.011830  0.036297

Month_Contacted       jun       mar       may       nov       oct       sep
marital
divorced         0.014071  0.002958  0.030203  0.010127  0.004302  0.003047
married          0.062915  0.012099  0.137390  0.052339  0.018821  0.014429
single           0.032533  0.009679  0.085410  0.021957  0.011920  0.011023
Outcome_previous_call   failure     other   success   unknown
marital
divorced               0.010127  0.005019  0.009410  0.091325
married                0.063811  0.024646  0.053146  0.427406
single                 0.036118  0.018462  0.033339  0.227191

deposit         no       yes
marital
divorced  0.060136  0.055745
married   0.322101  0.246908
single    0.143753  0.171357
job          admin.  blue-collar  entrepreneur  housemaid  management  \
education
primary    0.003764     0.062018      0.003674   0.012906    0.005915
secondary  0.097150     0.100018      0.012637   0.006991    0.021330
tertiary   0.015056     0.004302      0.011830   0.003854    0.195107
unknown    0.003585     0.007707      0.001255   0.000807    0.007528

job         retired  self-employed  services   student  technician  \
education
primary    0.024825       0.002509  0.007439  0.001882    0.003674
secondary  0.028141       0.012189  0.066858  0.016939    0.108353
tertiary   0.012547       0.020613  0.004750  0.007439    0.046693
unknown    0.004212       0.000986  0.003674  0.006005    0.004660

job        unemployed   unknown
education
primary      0.004929  0.000627
secondary    0.018821  0.001344
tertiary     0.007528  0.000807
unknown      0.000627  0.003495
marital    divorced   married    single
education
primary    0.018283  0.098315  0.017566
secondary  0.058433  0.279620  0.152716
tertiary   0.034594  0.165173  0.130758
unknown    0.004571  0.025901  0.014071
education   primary  secondary  tertiary   unknown
education
primary    0.134164   0.000000  0.000000  0.000000
secondary  0.000000   0.490769  0.000000  0.000000
tertiary   0.000000   0.000000  0.330525  0.000000
unknown    0.000000   0.000000  0.000000  0.044542
Previously_defaulted        no       yes
education
primary               0.131565  0.002599
secondary             0.483420  0.007349
tertiary              0.326223  0.004302
unknown               0.043735  0.000807
housing_Loan        no       yes
education
primary       0.067844  0.066320
secondary     0.228984  0.261785
tertiary      0.201111  0.129414
unknown       0.028948  0.015594
Personal_Loan        no       yes
education
primary        0.115881  0.018283
secondary      0.413156  0.077612
tertiary       0.297992  0.032533
unknown        0.042212  0.002330
Mode_of_Contact  cellular  telephone   unknown
education
primary          0.077344   0.016311  0.040509
secondary        0.345492   0.030203  0.115074
tertiary         0.268686   0.016490  0.045349
unknown          0.029217   0.006274  0.009052
Month_Contacted       apr       aug       dec       feb       jan       jul  \
education
primary          0.009679  0.013623  0.000986  0.006901  0.004123  0.022316
secondary        0.040240  0.055924  0.005019  0.033339  0.015325  0.068113
tertiary         0.028500  0.061391  0.003226  0.026438  0.009410  0.038269
unknown          0.004302  0.005198  0.000627  0.002868  0.001972  0.006991

Month_Contacted       jun       mar       may       nov       oct       sep
education
primary          0.019089  0.002241  0.039523  0.009052  0.003585  0.003047
secondary        0.052787  0.009500  0.142230  0.041674  0.014967  0.011651
tertiary         0.033070  0.012368  0.060943  0.030920  0.013981  0.012009
unknown          0.004571  0.000627  0.010307  0.002778  0.002509  0.001792
Outcome_previous_call   failure     other   success   unknown
education
primary                0.012009  0.005198  0.007887  0.109070
secondary              0.055655  0.023571  0.042750  0.368794
tertiary               0.038179  0.017207  0.039882  0.235257
unknown                0.004212  0.002151  0.005377  0.032802
deposit          no       yes
education
primary    0.081197  0.052966
secondary  0.271196  0.219573
tertiary   0.151640  0.178885
unknown    0.021957  0.022585
job                     admin.  blue-collar  entrepreneur  housemaid  \
Previously_defaulted
no                    0.118570     0.170371      0.028500   0.023839
yes                   0.000986     0.003674      0.000896   0.000717

job                   management   retired  self-employed  services   student  \
Previously_defaulted
no                      0.226385  0.069278       0.035580  0.082094  0.032174
yes                     0.003495  0.000448       0.000717  0.000627  0.000090

job                   technician  unemployed   unknown
Previously_defaulted
no                      0.160782    0.031188  0.006184
yes                     0.002599    0.000717  0.000090
marital               divorced   married    single
Previously_defaulted
no                    0.113372  0.560853  0.310719
yes                   0.002509  0.008156  0.004391
education              primary  secondary  tertiary   unknown
Previously_defaulted
no                    0.131565   0.483420  0.326223  0.043735
yes                   0.002599   0.007349  0.004302  0.000807
Previously_defaulted        no       yes
Previously_defaulted
no                    0.984944  0.000000
yes                   0.000000  0.015056
housing_Loan                no       yes
Previously_defaulted
no                    0.519627  0.465316
yes                   0.007259  0.007797
Personal_Loan               no       yes
Previously_defaulted
no                    0.859294  0.125650
yes                   0.009948  0.005108
Mode_of_Contact       cellular  telephone   unknown
Previously_defaulted
no                    0.711328   0.068919  0.204696
yes                   0.009410   0.000358  0.005288
Month_Contacted            apr       aug       dec       feb       jan  \
Previously_defaulted
no                    0.082094  0.134253  0.009858  0.069098  0.030292
yes                   0.000627  0.001882  0.000000  0.000448  0.000538

Month_Contacted            jul       jun       mar       may       nov  \
Previously_defaulted
no                    0.131565  0.107188  0.024736  0.249238  0.083169
yes                   0.004123  0.002330  0.000000  0.003764  0.001255

Month_Contacted            oct      sep
Previously_defaulted
no                    0.035042  0.02841
yes                   0.000000  0.00009
Outcome_previous_call   failure     other   success   unknown
Previously_defaulted
no                     0.109339  0.047858  0.095895  0.731852
yes                    0.000717  0.000269  0.000000  0.014071
deposit                     no       yes
Previously_defaulted
no                    0.515594  0.469349
yes                   0.010396  0.004660
job             admin.  blue-collar  entrepreneur  housemaid  management  \
housing_Loan
no            0.053235     0.055834      0.014519   0.017745    0.133716
yes           0.066320     0.118211      0.014877   0.006811    0.096164

job            retired  self-employed  services   student  technician  \
housing_Loan
no            0.058702       0.020703  0.031995  0.027693    0.084872
yes           0.011023       0.015594  0.050726  0.004571    0.078509

job           unemployed   unknown
housing_Loan
no              0.021868  0.006005
yes             0.010038  0.000269
marital       divorced   married    single
housing_Loan
no            0.059867  0.290912  0.176107
yes           0.056014  0.278096  0.139003
education      primary  secondary  tertiary   unknown
housing_Loan
no            0.067844   0.228984  0.201111  0.028948
yes           0.066320   0.261785  0.129414  0.015594
Previously_defaulted        no       yes
housing_Loan
no                    0.519627  0.007259
yes                   0.465316  0.007797
housing_Loan        no       yes
housing_Loan
no            0.526887  0.000000
yes           0.000000  0.473113
Personal_Loan        no       yes
housing_Loan
no             0.470873  0.056014
yes            0.398369  0.074745
Mode_of_Contact  cellular  telephone   unknown
housing_Loan
no               0.420416   0.047768  0.058702
yes              0.300323   0.021509  0.151282
Month_Contacted       apr       aug       dec       feb       jan       jul  \
housing_Loan
no               0.039882  0.111131  0.008066  0.046962  0.023571  0.075910
yes              0.042839  0.025004  0.001792  0.022585  0.007259  0.059778

Month_Contacted       jun       mar       may       nov       oct       sep
housing_Loan
no               0.069547  0.019179  0.040599  0.042660  0.027155  0.022226
yes              0.039971  0.005557  0.212404  0.041764  0.007887  0.006274
Outcome_previous_call   failure     other   success   unknown
housing_Loan
no                     0.044273  0.024288  0.070532  0.387794
yes                    0.065782  0.023839  0.025363  0.358129

deposit             no       yes
housing_Loan
no            0.226295  0.300592
yes           0.299695  0.173418
job              admin.  blue-collar  entrepreneur  housemaid  management  \
Personal_Loan
no             0.098405     0.143933      0.023122   0.022764    0.206578
yes            0.021151     0.030113      0.006274   0.001792    0.023302

job             retired  self-employed  services   student  technician  \
Personal_Loan
no             0.064797       0.031278  0.068919  0.032174    0.141154
yes            0.004929       0.005019  0.013802  0.000090    0.022226

job            unemployed   unknown
Personal_Loan
no               0.030023  0.006094
yes              0.001882  0.000179
marital        divorced   married    single
Personal_Loan
no             0.097867  0.487274  0.284101
yes            0.018014  0.081735  0.031009
education       primary  secondary  tertiary   unknown
Personal_Loan
no             0.115881   0.413156  0.297992  0.042212
yes            0.018283   0.077612  0.032533  0.002330
Previously_defaulted        no       yes
Personal_Loan
no                    0.859294  0.009948
yes                   0.125650  0.005108
housing_Loan         no       yes
Personal_Loan
no             0.470873  0.398369
yes            0.056014  0.074745
Personal_Loan        no       yes
Personal_Loan
no             0.869242  0.000000
yes            0.000000  0.130758
Mode_of_Contact  cellular  telephone   unknown
Personal_Loan
no               0.626546   0.062018  0.180678
yes              0.094193   0.007259  0.029306
Month_Contacted       apr       aug       dec       feb       jan       jul  \
Personal_Loan
no               0.075462  0.125381  0.009590  0.061391  0.026618  0.099301
yes              0.007259  0.010755  0.000269  0.008156  0.004212  0.036386

Month_Contacted       jun       mar       may       nov       oct       sep
Personal_Loan
no               0.096971  0.023571  0.219036  0.072146  0.032443  0.027335
yes              0.012547  0.001165  0.033967  0.012278  0.002599  0.001165
Outcome_previous_call   failure     other   success   unknown
Personal_Loan
no                     0.094999  0.043287  0.091325  0.639631
yes                    0.015056  0.004840  0.004571  0.106291
deposit              no       yes
Personal_Loan
no             0.438609  0.430633
yes            0.087381  0.043377
job                admin.  blue-collar  entrepreneur  housemaid  management  \
Mode_of_Contact
cellular         0.087112     0.102258      0.019627   0.016580    0.185159
telephone        0.007528     0.010217      0.002330   0.002778    0.011382
unknown          0.024915     0.061570      0.007439   0.005198    0.033339

job               retired  self-employed  services   student  technician  \
Mode_of_Contact
cellular         0.046424       0.025721  0.056193  0.027872    0.124754
telephone        0.015236       0.002689  0.004123  0.002778    0.007080
unknown          0.008066       0.007887  0.022405  0.001613    0.031547

job              unemployed   unknown
Mode_of_Contact
cellular           0.024646  0.004391
telephone          0.002151  0.000986
unknown            0.005108  0.000896
marital          divorced   married    single
Mode_of_Contact
cellular         0.081018  0.396487  0.243234
telephone        0.007259  0.047051  0.014967
unknown          0.027604  0.125471  0.056910
education         primary  secondary  tertiary   unknown
Mode_of_Contact
cellular         0.077344   0.345492  0.268686  0.029217
telephone        0.016311   0.030203  0.016490  0.006274
unknown          0.040509   0.115074  0.045349  0.009052
Previously_defaulted        no       yes
Mode_of_Contact
cellular              0.711328  0.009410
telephone             0.068919  0.000358
unknown               0.204696  0.005288
housing_Loan           no       yes
Mode_of_Contact
cellular         0.420416  0.300323
telephone        0.047768  0.021509
unknown          0.058702  0.151282
Personal_Loan          no       yes
Mode_of_Contact
cellular         0.626546  0.094193
telephone        0.062018  0.007259
unknown          0.180678  0.029306
Mode_of_Contact  cellular  telephone   unknown
Mode_of_Contact
cellular         0.720738   0.000000  0.000000
telephone        0.000000   0.069278  0.000000
unknown          0.000000   0.000000  0.209984
Month_Contacted       apr       aug       dec       feb       jan       jul  \
Mode_of_Contact
cellular         0.076806  0.130041  0.008066  0.062108  0.027335  0.115254
telephone        0.005467  0.004929  0.001703  0.006991  0.003406  0.016670
unknown          0.000448  0.001165  0.000090  0.000448  0.000090  0.003764

Month_Contacted       jun       mar       may       nov       oct       sep
Mode_of_Contact
cellular         0.034325  0.022137  0.117405  0.075103  0.027335  0.024825
telephone        0.002420  0.002241  0.008962  0.007797  0.005915  0.002778
unknown          0.072773  0.000358  0.126636  0.001524  0.001792  0.000896
Outcome_previous_call   failure     other   success   unknown
Mode_of_Contact
cellular               0.102438  0.043377  0.087829  0.487094
telephone              0.007080  0.004123  0.007618  0.050457
unknown                0.000538  0.000627  0.000448  0.208371
deposit                no       yes
Mode_of_Contact
cellular         0.329181  0.391558
telephone        0.034325  0.034953
unknown          0.162484  0.047500
job                admin.  blue-collar  entrepreneur  housemaid  management  \
Month_Contacted
apr              0.010486     0.016222      0.001703   0.001434    0.018910
aug              0.009500     0.011113      0.002330   0.004571    0.044004
dec              0.001165     0.000627      0.000090   0.000179    0.002420
feb              0.008604     0.006811      0.001882   0.001255    0.017207
jan              0.003764     0.003316      0.000538   0.000896    0.005825
jul              0.017745     0.023929      0.006094   0.004660    0.028320
jun              0.013623     0.023212      0.004391   0.004750    0.021240
mar              0.003316     0.000896      0.000179   0.000627    0.008156
may              0.033787     0.072056      0.006184   0.002778    0.042750
nov              0.009141     0.011561      0.004929   0.001792    0.023122
oct              0.004481     0.002330      0.000448   0.001075    0.008962
sep              0.003943     0.001972      0.000627   0.000538    0.008962

job               retired  self-employed  services   student  technician  \
Month_Contacted
apr              0.006005       0.003316  0.005646  0.003495    0.012726
aug              0.010486       0.005288  0.005019  0.004123    0.035401
dec              0.002061       0.000269  0.000717  0.000717    0.001075
feb              0.006901       0.002509  0.004123  0.003585    0.011472
jan              0.003406       0.000986  0.003137  0.000896    0.005288
jul              0.007528       0.004660  0.014877  0.003226    0.019089
jun              0.006722       0.004302  0.010307  0.002509    0.014429
mar              0.003764       0.000896  0.001434  0.001613    0.002868
may              0.007887       0.007349  0.029486  0.005825    0.039075
nov              0.004302       0.004750  0.005557  0.002330    0.013443
oct              0.005915       0.001613  0.001165  0.002061    0.005646
sep              0.004750       0.000358  0.001255  0.001882    0.002868

job              unemployed   unknown
Month_Contacted
apr                0.002241  0.000538
aug                0.002778  0.001524
dec                0.000538  0.000000
feb                0.004750  0.000448
jan                0.002330  0.000448
jul                0.004660  0.000896
jun                0.003316  0.000717
mar                0.000896  0.000090
may                0.005377  0.000448
nov                0.003137  0.000358
oct                0.000807  0.000538
sep                0.001075  0.000269
marital          divorced   married    single
Month_Contacted
apr              0.007439  0.045797  0.029486
aug              0.014160  0.085410  0.036566
dec              0.001075  0.005915  0.002868
feb              0.006901  0.037103  0.025542
jan              0.003316  0.015684  0.011830
jul              0.018283  0.081108  0.036297
jun              0.014071  0.062915  0.032533
mar              0.002958  0.012099  0.009679
may              0.030203  0.137390  0.085410
nov              0.010127  0.052339  0.021957
oct              0.004302  0.018821  0.011920
sep              0.003047  0.014429  0.011023
education         primary  secondary  tertiary   unknown
Month_Contacted
apr              0.009679   0.040240  0.028500  0.004302
aug              0.013623   0.055924  0.061391  0.005198
dec              0.000986   0.005019  0.003226  0.000627
feb              0.006901   0.033339  0.026438  0.002868
jan              0.004123   0.015325  0.009410  0.001972
jul              0.022316   0.068113  0.038269  0.006991
jun              0.019089   0.052787  0.033070  0.004571
mar              0.002241   0.009500  0.012368  0.000627
may              0.039523   0.142230  0.060943  0.010307
nov              0.009052   0.041674  0.030920  0.002778
oct              0.003585   0.014967  0.013981  0.002509
sep              0.003047   0.011651  0.012009  0.001792
Previously_defaulted        no       yes
Month_Contacted
apr                   0.082094  0.000627
aug                   0.134253  0.001882
dec                   0.009858  0.000000
feb                   0.069098  0.000448
jan                   0.030292  0.000538
jul                   0.131565  0.004123
jun                   0.107188  0.002330
mar                   0.024736  0.000000
may                   0.249238  0.003764
nov                   0.083169  0.001255
oct                   0.035042  0.000000
sep                   0.028410  0.000090
housing_Loan           no       yes
Month_Contacted
apr              0.039882  0.042839
aug              0.111131  0.025004
dec              0.008066  0.001792
feb              0.046962  0.022585
jan              0.023571  0.007259
jul              0.075910  0.059778
jun              0.069547  0.039971
mar              0.019179  0.005557
may              0.040599  0.212404
nov              0.042660  0.041764
oct              0.027155  0.007887
sep              0.022226  0.006274
Personal_Loan          no       yes
Month_Contacted
apr              0.075462  0.007259
aug              0.125381  0.010755
dec              0.009590  0.000269
feb              0.061391  0.008156
jan              0.026618  0.004212
jul              0.099301  0.036386
jun              0.096971  0.012547
mar              0.023571  0.001165
may              0.219036  0.033967
nov              0.072146  0.012278
oct              0.032443  0.002599
sep              0.027335  0.001165
Mode_of_Contact  cellular  telephone   unknown
Month_Contacted
apr              0.076806   0.005467  0.000448
aug              0.130041   0.004929  0.001165
dec              0.008066   0.001703  0.000090
feb              0.062108   0.006991  0.000448
jan              0.027335   0.003406  0.000090
jul              0.115254   0.016670  0.003764
jun              0.034325   0.002420  0.072773
mar              0.022137   0.002241  0.000358
may              0.117405   0.008962  0.126636
nov              0.075103   0.007797  0.001524
oct              0.027335   0.005915  0.001792
sep              0.024825   0.002778  0.000896
Month_Contacted       apr       aug       dec       feb      jan       jul  \
Month_Contacted
apr              0.082721  0.000000  0.000000  0.000000  0.00000  0.000000
aug              0.000000  0.136136  0.000000  0.000000  0.00000  0.000000
dec              0.000000  0.000000  0.009858  0.000000  0.00000  0.000000
feb              0.000000  0.000000  0.000000  0.069547  0.00000  0.000000
jan              0.000000  0.000000  0.000000  0.000000  0.03083  0.000000
jul              0.000000  0.000000  0.000000  0.000000  0.00000  0.135687
jun              0.000000  0.000000  0.000000  0.000000  0.00000  0.000000
mar              0.000000  0.000000  0.000000  0.000000  0.00000  0.000000
may              0.000000  0.000000  0.000000  0.000000  0.00000  0.000000
nov              0.000000  0.000000  0.000000  0.000000  0.00000  0.000000
oct              0.000000  0.000000  0.000000  0.000000  0.00000  0.000000
sep              0.000000  0.000000  0.000000  0.000000  0.00000  0.000000

Month_Contacted       jun       mar       may       nov       oct     sep
Month_Contacted
apr              0.000000  0.000000  0.000000  0.000000  0.000000  0.0000
aug              0.000000  0.000000  0.000000  0.000000  0.000000  0.0000
dec              0.000000  0.000000  0.000000  0.000000  0.000000  0.0000
feb              0.000000  0.000000  0.000000  0.000000  0.000000  0.0000
jan              0.000000  0.000000  0.000000  0.000000  0.000000  0.0000
jul              0.000000  0.000000  0.000000  0.000000  0.000000  0.0000
jun              0.109518  0.000000  0.000000  0.000000  0.000000  0.0000
mar              0.000000  0.024736  0.000000  0.000000  0.000000  0.0000
may              0.000000  0.000000  0.253002  0.000000  0.000000  0.0000
nov              0.000000  0.000000  0.000000  0.084424  0.000000  0.0000
oct              0.000000  0.000000  0.000000  0.000000  0.035042  0.0000
sep              0.000000  0.000000  0.000000  0.000000  0.000000  0.0285
Outcome_previous_call   failure     other   success   unknown
Month_Contacted
apr                    0.015325  0.006005  0.007707  0.053683
aug                    0.008245  0.003674  0.013085  0.111131
dec                    0.001255  0.001344  0.003047  0.004212
feb                    0.012009  0.005108  0.009769  0.042660
jan                    0.003674  0.003495  0.003764  0.019896
jul                    0.004212  0.002599  0.006901  0.121975
jun                    0.004750  0.002958  0.008156  0.093655
mar                    0.002689  0.001972  0.004302  0.015773
may                    0.031995  0.011292  0.012189  0.197526
nov                    0.015146  0.004391  0.008514  0.056372
oct                    0.006184  0.002330  0.009052  0.017476
sep                    0.004571  0.002958  0.009410  0.011561
deposit                no       yes
Month_Contacted
apr              0.031009  0.051712
aug              0.074476  0.061660
dec              0.000896  0.008962
feb              0.030023  0.039523
jan              0.018104  0.012726
jul              0.079495  0.056193
jun              0.060584  0.048934
mar              0.002509  0.022226
may              0.170102  0.082900
nov              0.048306  0.036118
oct              0.006094  0.028948
sep              0.004391  0.024108

job                      admin.  blue-collar  entrepreneur  housemaid  \
Outcome_previous_call
failure                0.016580     0.017028      0.003137   0.001882
other                  0.006274     0.008156      0.000538   0.000807
success                0.012009     0.008066      0.001075   0.001972
unknown                0.084693     0.140796      0.024646   0.019896

job                    management   retired  self-employed  services  \
Outcome_previous_call
failure                  0.026259  0.006542       0.003406  0.008873
other                    0.012637  0.003226       0.001972  0.003226
success                  0.026080  0.012099       0.003406  0.005557
unknown                  0.164904  0.047858       0.027514  0.065065

job                     student  technician  unemployed   unknown
Outcome_previous_call
failure                0.003854    0.018641    0.003137  0.000717
other                  0.002958    0.007259    0.000986  0.000090
success                0.006005    0.014071    0.004660  0.000896
unknown                0.019448    0.123409    0.023122  0.004571
marital                divorced   married    single
Outcome_previous_call
failure                0.010127  0.063811  0.036118
other                  0.005019  0.024646  0.018462
success                0.009410  0.053146  0.033339
unknown                0.091325  0.427406  0.227191
education               primary  secondary  tertiary   unknown
Outcome_previous_call
failure                0.012009   0.055655  0.038179  0.004212
other                  0.005198   0.023571  0.017207  0.002151
success                0.007887   0.042750  0.039882  0.005377
unknown                0.109070   0.368794  0.235257  0.032802
Previously_defaulted         no       yes
Outcome_previous_call
failure                0.109339  0.000717
other                  0.047858  0.000269
success                0.095895  0.000000
unknown                0.731852  0.014071
housing_Loan                 no       yes
Outcome_previous_call
failure                0.044273  0.065782
other                  0.024288  0.023839
success                0.070532  0.025363
unknown                0.387794  0.358129
Personal_Loan                no       yes
Outcome_previous_call
failure                0.094999  0.015056
other                  0.043287  0.004840
success                0.091325  0.004571
unknown                0.639631  0.106291
Mode_of_Contact        cellular  telephone   unknown
Outcome_previous_call
failure                0.102438   0.007080  0.000538
other                  0.043377   0.004123  0.000627
success                0.087829   0.007618  0.000448
unknown                0.487094   0.050457  0.208371
Month_Contacted             apr       aug       dec       feb       jan  \
Outcome_previous_call
failure                0.015325  0.008245  0.001255  0.012009  0.003674
other                  0.006005  0.003674  0.001344  0.005108  0.003495
success                0.007707  0.013085  0.003047  0.009769  0.003764
unknown                0.053683  0.111131  0.004212  0.042660  0.019896

Month_Contacted             jul       jun       mar       may       nov  \
Outcome_previous_call
failure                0.004212  0.004750  0.002689  0.031995  0.015146
other                  0.002599  0.002958  0.001972  0.011292  0.004391
success                0.006901  0.008156  0.004302  0.012189  0.008514
unknown                0.121975  0.093655  0.015773  0.197526  0.056372

Month_Contacted             oct       sep
Outcome_previous_call
failure                0.006184  0.004571
other                  0.002330  0.002958
success                0.009052  0.009410
unknown                0.017476  0.011561
Outcome_previous_call   failure     other   success   unknown
Outcome_previous_call
failure                0.110056  0.000000  0.000000  0.000000
other                  0.000000  0.048127  0.000000  0.000000
success                0.000000  0.000000  0.095895  0.000000
unknown                0.000000  0.000000  0.000000  0.745922
deposit                      no       yes
Outcome_previous_call
failure                0.054669  0.055386
other                  0.020613  0.027514
success                0.008245  0.087650
unknown                0.442463  0.303459
job        admin.  blue-collar  entrepreneur  housemaid  management   retired  \
deposit
no       0.063004     0.110593      0.018372   0.014788    0.113282  0.023481
yes      0.056551     0.063452      0.011023   0.009769    0.116598  0.046245

job      self-employed  services   student  technician  unemployed   unknown
deposit
no            0.019538   0.04965  0.008156    0.088098    0.013802  0.003226
yes           0.016759   0.03307  0.024108    0.075282    0.018104  0.003047
marital  divorced   married    single
deposit
no       0.060136  0.322101  0.143753
yes      0.055745  0.246908  0.171357
education   primary  secondary  tertiary   unknown
deposit
no         0.081197   0.271196  0.151640  0.021957
yes        0.052966   0.219573  0.178885  0.022585
Previously_defaulted        no       yes
deposit
no                    0.515594  0.010396
yes                   0.469349  0.004660
housing_Loan        no       yes
deposit
no            0.226295  0.299695
yes           0.300592  0.173418
Personal_Loan        no       yes
deposit
no             0.438609  0.087381
yes            0.430633  0.043377
Mode_of_Contact  cellular  telephone   unknown
deposit
no               0.329181   0.034325  0.162484
yes              0.391558   0.034953  0.047500
Month_Contacted       apr       aug       dec       feb       jan       jul  \
deposit
no               0.031009  0.074476  0.000896  0.030023  0.018104  0.079495
yes              0.051712  0.061660  0.008962  0.039523  0.012726  0.056193

Month_Contacted       jun       mar       may       nov       oct       sep
deposit
no               0.060584  0.002509  0.170102  0.048306  0.006094  0.004391
yes              0.048934  0.022226  0.082900  0.036118  0.028948  0.024108
Outcome_previous_call   failure     other   success   unknown
deposit
no                     0.054669  0.020613  0.008245  0.442463
yes                    0.055386  0.027514  0.087650  0.303459
deposit       no      yes
deposit
no       0.52599  0.00000
yes      0.00000  0.47401

In [29]:
import scipy.stats as ss
result = []
for i in cat_var_prod:
    if i[0] != i[1]:
        result.append((i[0],i[1],list(ss.chi2_contingency(pd.crosstab(
                            bank[i[0]], bank[i[1]])))[1]))
result
chi_test_output = pd.DataFrame(result, columns = ["var1", "var2", "p-value"])
chi_test_output

       var1                   var2        p-value
0       job                marital  1.148192e-251
1       job              education   0.000000e+00
2       job   Previously_defaulted   1.102946e-03
3       job           housing_Loan  3.146404e-223
4       job          Personal_Loan   1.389239e-39
..      ...                    ...            ...
85  deposit           housing_Loan  9.402204e-103
86  deposit          Personal_Loan   2.419106e-31
87  deposit        Mode_of_Contact  2.908970e-160
88  deposit        Month_Contacted  3.506962e-218
89  deposit  Outcome_previous_call  7.600832e-218

[90 rows x 3 columns]

In [30]:
# Correlation between two numerical variables
bank.corr()

,age,Savings_balance,Date_Contacted,Call_Duration,Num_Calls_made,Days_since_last_contact,Num-calls_made_earlier,Duration_per_Call
age,1.000000,0.112433,-0.000775,-0.000002,-0.005378,-0.032652,0.020146,0.009992
Savings_balance,0.112433,1.000000,0.011161,0.022387,-0.013663,-0.049546,0.029582,0.027823
Date_Contacted,-0.000775,0.011161,1.000000,-0.018523,0.137017,0.078658,-0.059037,-0.056071
Call_Duration,-0.000002,0.022387,-0.018523,1.000000,-0.041779,0.045902,-0.026778,0.773894
Num_Calls_made,-0.005378,-0.013663,0.137017,-0.041779,1.000000,0.131136,-0.049733,-0.311155
Days_since_last_contact,-0.032652,-0.049546,0.078658,0.045902,0.131136,1.000000,-0.614164,-0.019008
Num-calls_made_earlier,0.020146,0.029582,-0.059037,-0.026778,-0.049733,-0.614164,1.000000,-0.010193
Duration_per_Call,0.009992,0.027823,-0.056071,0.773894,-0.311155,-0.019008,-0.010193,1.000000

In [31]:
def Zscore_outlier(df):
    out=[]
    m = np.mean(df)
    sd = np.std(df)
    for i in df: 
        z = (i-m)/sd
        if np.abs(z) > 3: 
            out.append(i)
    print("Outliers:",out)
    print("Number of Outliers:",len(out))
    
for var in num_columns: 
    print(var)
    print(Zscore_outlier(bank[var]))

age
Outliers: [85, 90, 85, 83, 83, 77, 77, 78, 95, 78, 85, 83, 79, 82, 79, 82, 77, 86, 79, 83, 77, 84, 83, 77, 77, 87, 92, 78, 82, 77, 81, 80, 87, 82, 77, 81, 78, 80, 86, 79, 79, 81, 84, 87, 85, 79, 92, 77, 81, 80, 77, 78, 80, 77, 82, 80, 78, 90, 83, 80, 82, 80, 84, 86, 77, 77, 80, 77, 78, 84, 78, 80, 80, 79, 86, 93, 82, 82, 77, 93, 77, 80, 84, 78, 81, 81, 77, 78, 77, 77, 77, 78, 77, 79, 78, 80, 78, 79, 77, 79, 78, 88, 77, 85, 78, 80, 82, 77, 78, 78, 81, 77, 80, 80, 80, 77, 81, 87, 81, 78, 82, 83, 77, 77, 89, 80, 77, 77, 88, 77, 78, 86]
Number of Outliers: 132
None
Savings_balance
Outliers: [12956.0, 14481.0, 14282.0, 34646.0, 17297.0, 12026.0, 12857.0, 11887.0, 12737.0, 11462.0, 20138.0, 18508.0, 12519.0, 22520.0, 12857.0, 12114.0, 11862.0, 23878.0, 11385.0, 11891.0, 12039.0, 13546.0, 36252.0, 17924.0, 12198.0, 13094.0, 23878.0, 17964.0, 15161.0, 27624.0, 22086.0, 20585.0, 14533.0, 12956.0, 18016.0, 19317.0, 52587.0, 27696.0, 13014.0, 12972.0, 11862.0, 11262.0, 24277.0, 17964.0, 14220.0, 12569.0, 20585.0, 12039.0, 14646.0, 22867.0, 11891.0, 81204.0, 11303.0, 18967.0, 13014.0, 27696.0, 52587.0, 12980.0, 81204.0, 12067.0, 29080.0, 12569.0, 31472.0, 14968.0, 11650.0, 12067.0, 27696.0, 12264.0, 11862.0, 15485.0, 18188.0, 22125.0, 45248.0, 11766.0, 12264.0, 11862.0, 23076.0, 29340.0, 26965.0, 15161.0, 12356.0, 13107.0, 13711.0, 32685.0, 11835.0, 11821.0, 18111.0, 19268.0, 13460.0, 27696.0, 15459.0, 12857.0, 12018.0, 14144.0, 20806.0, 12223.0, 22867.0, 20718.0, 11650.0, 13338.0, 11528.0, 17924.0, 15578.0, 19447.0, 21522.0, 15474.0, 13578.0, 11222.0, 14930.0, 12531.0, 11766.0, 11431.0, 20011.0, 19343.0, 37127.0, 13156.0, 15341.0, 11265.0, 22755.0, 12848.0, 18558.0, 23592.0, 24450.0, 13849.0, 25290.0, 23495.0, 13901.0, 13774.0, 21614.0, 13658.0, 13711.0, 66653.0, 34230.0, 23189.0, 14850.0, 13054.0, 23421.0, 11494.0, 12180.0, 13410.0, 11254.0, 17361.0, 17672.0, 13818.0, 24780.0, 29184.0, 22815.0, 29207.0, 15341.0, 12276.0, 20928.0, 15841.0, 20723.0, 11862.0, 16992.0, 56831.0, 16397.0, 12159.0, 11219.0, 14522.0, 19358.0, 25947.0, 11854.0, 51439.0, 13107.0, 16786.0, 36935.0, 13342.0, 13578.0, 22867.0, 31868.0, 20772.0, 18777.0]
Number of Outliers: 173
None
Date_Contacted
Outliers: []
Number of Outliers: 0
None
Call_Duration
Outliers: [1467.0, 1574.0, 1689.0, 2087.0, 1692.0, 1721.0, 1553.0, 1423.0, 1867.0, 1622.0, 1882.0, 1777.0, 1681.0, 1697.0, 1560.0, 3094.0, 1560.0, 1730.0, 1980.0, 2456.0, 1449.0, 1446.0, 1558.0, 2653.0, 3881.0, 2769.0, 2621.0, 1528.0, 1540.0, 1574.0, 1663.0, 1617.0, 3183.0, 1439.0, 1426.0, 2029.0, 1499.0, 1973.0, 1649.0, 1669.0, 1806.0, 1656.0, 1584.0, 1448.0, 1877.0, 1545.0, 1833.0, 1508.0, 1484.0, 1441.0, 1491.0, 1602.0, 1492.0, 1422.0, 1946.0, 2015.0, 1448.0, 2516.0, 1721.0, 1488.0, 1536.0, 1471.0, 1456.0, 1613.0, 1735.0, 1842.0, 1871.0, 1576.0, 1503.0, 1532.0, 1877.0, 1642.0, 2372.0, 3253.0, 2016.0, 1789.0, 1978.0, 1855.0, 1437.0, 1554.0, 1792.0, 1468.0, 1720.0, 1503.0, 1490.0, 1598.0, 1571.0, 1555.0, 1451.0, 1473.0, 1917.0, 1451.0, 2770.0, 1776.0, 1420.0, 1425.0, 1776.0, 1416.0, 1579.0, 2775.0, 1916.0, 1661.0, 1541.0, 1971.0, 3076.0, 1665.0, 1691.0, 1594.0, 1579.0, 1463.0, 1550.0, 1817.0, 1489.0, 1516.0, 1448.0, 1514.0, 1531.0, 1975.0, 1723.0, 1871.0, 1460.0, 1543.0, 1452.0, 1702.0, 1707.0, 1628.0, 2062.0, 1616.0, 1835.0, 1422.0, 1472.0, 1440.0, 1556.0, 1573.0, 2330.0, 1467.0, 2028.0, 1623.0, 1677.0, 1424.0, 1540.0, 1500.0, 1608.0, 1865.0, 3102.0, 1461.0, 1579.0, 1446.0, 1597.0, 1600.0, 1635.0, 1417.0, 1469.0, 1512.0, 1486.0, 2301.0, 1422.0, 1658.0, 1502.0, 1555.0, 1767.0, 1603.0, 1532.0, 2692.0, 1790.0, 1447.0, 2231.0, 1806.0, 2078.0, 2016.0, 2184.0, 2420.0, 1970.0, 1960.0, 1576.0, 1528.0, 1962.0, 1486.0, 1422.0, 1598.0, 2453.0, 2093.0, 1710.0, 1720.0, 1529.0, 1855.0, 2053.0, 1426.0, 1735.0, 1438.0, 1740.0, 1434.0, 3284.0, 1473.0, 1425.0, 1567.0, 1476.0, 2027.0, 1521.0, 1504.0, 1812.0]
Number of Outliers: 201
None
Num_Calls_made
Outliers: [11, 15, 12, 12, 14, 15, 15, 11, 11, 11, 11, 11, 24, 13, 17, 13, 29, 17, 13, 14, 14, 11, 11, 13, 12, 17, 21, 13, 17, 11, 11, 11, 11, 17, 17, 14, 13, 15, 11, 12, 20, 16, 16, 11, 32, 11, 11, 19, 11, 13, 13, 25, 17, 11, 15, 16, 24, 14, 13, 12, 14, 12, 12, 11, 22, 11, 13, 12, 24, 13, 14, 11, 19, 15, 12, 19, 13, 21, 43, 11, 19, 13, 12, 25, 12, 11, 18, 41, 13, 12, 11, 32, 43, 22, 16, 17, 11, 13, 15, 11, 13, 20, 16, 13, 16, 63, 17, 12, 12, 12, 27, 30, 14, 13, 12, 15, 18, 13, 15, 12, 20, 13, 17, 11, 13, 11, 15, 14, 18, 14, 11, 16, 20, 21, 21, 26, 24, 24, 13, 12, 25, 29, 12, 23, 18, 12, 19, 11, 17, 12, 18, 14, 18, 13, 17, 13, 15, 12, 28, 26, 23, 26, 12, 23, 12, 18, 11, 17, 11, 13, 12, 11, 21, 11, 33, 11, 18, 13, 11, 13, 13, 12, 22, 11, 11, 31, 14, 14, 11, 21, 21, 12, 22, 13, 13, 15, 14, 16, 16, 11, 21, 12, 14, 30, 15, 30, 30, 20, 12, 17]
Number of Outliers: 210
None
Days_since_last_contact
Outliers: []
Number of Outliers: 0
None
Num-calls_made_earlier
Outliers: [10, 9, 29, 13, 17, 8, 9, 8, 8, 11, 30, 22, 13, 11, 58, 8, 8, 21, 14, 8, 26, 10, 13, 8, 12, 8, 8, 8, 12, 8, 10, 17, 8, 9, 19, 9, 9, 10, 9, 10, 12, 8, 13, 9, 11, 10, 11, 10, 8, 8, 8, 11, 11, 8, 10, 10, 10, 8, 9, 11, 12, 12, 9, 8, 10, 13, 19, 8, 9, 10, 8, 55, 9, 10, 10, 8, 8, 8, 17, 11, 9, 11, 10, 23, 8, 8, 9, 8, 10, 15, 9, 8, 14, 8, 20, 10, 10, 8, 9, 14, 9, 13, 8, 11, 11, 13, 10, 14, 14, 10, 10, 11, 13, 10, 10, 8, 8, 9, 9, 9, 12, 9, 9, 8, 12, 10, 12, 9, 9, 11, 12, 13, 8, 8, 8, 9, 11, 12, 8, 8, 11, 10, 10, 10, 27, 9, 8, 15, 13, 16, 11, 9, 17, 8, 13, 9, 12, 41, 17, 11, 8, 8, 17, 11, 8, 8, 9, 8, 27, 8, 17, 11, 8, 8, 9, 11, 17, 9, 12, 10, 9, 8, 12, 17, 40, 11, 17, 8, 16, 15, 8, 9, 9, 8, 8, 11, 14, 8, 10, 19, 28, 18, 8, 15, 8, 23, 37, 10, 15, 12, 11, 20, 19, 9, 12, 8, 8, 17, 12, 8]
Number of Outliers: 220
None

In [32]:
def iqr_outliers(df):
    out=[]
    q1 = df.quantile(0.25)
    q3 = df.quantile(0.75)
    iqr = q3-q1
    Lower_tail = q1 - 3 * iqr
    Upper_tail = q3 + 3 * iqr
    for i in df:
        if i > Upper_tail or i < Lower_tail:
            out.append(i)
    print("Outliers:",out)
    print("Number of Outliers:",len(out))
    
for var in num_columns:
    print(var)
    print(iqr_outliers(bank[var]))

age
Outliers: []
Number of Outliers: 0
None
Savings_balance
Outliers: [7180.0, 10576.0, 6840.0, 12956.0, 7606.0, 14481.0, 7561.0, 11008.0, 9103.0, 9004.0, 10685.0, 14282.0, 7098.0, 6822.0, 7138.0, 34646.0, 10052.0, 9827.0, 8029.0, 8163.0, 7135.0, 17297.0, 7084.0, 8749.0, 10250.0, 12026.0, 7506.0, 6619.0, 12857.0, 11887.0, 8781.0, 12737.0, 6993.0, 11462.0, 6843.0, 20138.0, 7773.0, 6888.0, 7119.0, 18508.0, 12519.0, 7049.0, 7195.0, 8629.0, 22520.0, 7724.0, 10613.0, 12857.0, 12114.0, 11862.0, 7702.0, 23878.0, 7613.0, 8345.0, 10180.0, 8929.0, 8089.0, 8866.0, 10185.0, 11385.0, 9601.0, 9676.0, 11891.0, 12039.0, 11174.0, 13546.0, 6807.0, 10086.0, 10925.0, 9480.0, 8556.0, 7707.0, 7468.0, 6657.0, 36252.0, 10252.0, 9367.0, 9407.0, 9328.0, 7506.0, 7279.0, 17924.0, 8180.0, 8781.0, 7863.0, 7066.0, 6567.0, 7290.0, 12198.0, 7702.0, 13094.0, 23878.0, 17964.0, 7818.0, 7968.0, 15161.0, 7019.0, 27624.0, 22086.0, 8295.0, 6574.0, 8866.0, 10346.0, 20585.0, 14533.0, 7443.0, 10583.0, 12956.0, 8603.0, 18016.0, 7005.0, 19317.0, 6791.0, 10532.0, 9064.0, 6983.0, 7050.0, 10185.0, 52587.0, 10884.0, 6991.0, 27696.0, 13014.0, 9367.0, 12972.0, 9131.0, 10905.0, 10596.0, 9962.0, 11862.0, 11262.0, 24277.0, 17964.0, 7968.0, 6574.0, 6538.0, 14220.0, 12569.0, 7331.0, 10943.0, 10252.0, 20585.0, 10583.0, 6784.0, 8295.0, 12039.0, 7111.0, 6481.0, 7529.0, 6807.0, 6746.0, 8603.0, 10925.0, 14646.0, 11115.0, 6900.0, 8278.0, 7458.0, 8729.0, 10332.0, 10541.0, 10861.0, 22867.0, 9366.0, 6746.0, 9367.0, 9421.0, 11891.0, 10250.0, 8304.0, 7105.0, 81204.0, 11303.0, 6513.0, 8556.0, 7005.0, 18967.0, 7802.0, 6571.0, 10541.0, 9367.0, 13014.0, 27696.0, 10185.0, 52587.0, 7620.0, 6610.0, 7766.0, 7585.0, 12980.0, 6771.0, 10583.0, 81204.0, 7929.0, 9001.0, 7529.0, 11115.0, 12067.0, 7802.0, 8000.0, 9367.0, 8103.0, 8304.0, 8304.0, 29080.0, 12569.0, 6651.0, 9299.0, 31472.0, 14968.0, 10861.0, 11650.0, 12067.0, 27696.0, 8304.0, 7968.0, 6771.0, 8304.0, 6551.0, 12264.0, 11862.0, 15485.0, 7050.0, 8165.0, 18188.0, 22125.0, 45248.0, 10281.0, 7918.0, 11766.0, 7608.0, 12264.0, 11115.0, 11862.0, 8897.0, 23076.0, 7459.0, 29340.0, 26965.0, 7441.0, 6748.0, 6840.0, 8491.0, 7895.0, 15161.0, 6529.0, 12356.0, 8332.0, 13107.0, 11008.0, 7554.0, 7560.0, 11115.0, 8828.0, 7968.0, 7005.0, 8000.0, 13711.0, 7433.0, 9883.0, 8990.0, 32685.0, 11835.0, 11821.0, 8648.0, 18111.0, 6997.0, 19268.0, 8229.0, 7103.0, 8304.0, 8535.0, 10287.0, 10861.0, 6728.0, 10884.0, 7192.0, 13460.0, 27696.0, 15459.0, 7803.0, 12857.0, 12018.0, 6542.0, 9228.0, 7050.0, 14144.0, 9314.0, 20806.0, 6831.0, 9756.0, 6728.0, 7944.0, 8121.0, 7687.0, 7132.0, 7007.0, 9447.0, 12223.0, 22867.0, 7102.0, 6739.0, 8023.0, 20718.0, 8876.0, 6596.0, 6904.0, 11650.0, 9645.0, 7503.0, 6714.0, 9916.0, 13338.0, 11528.0, 7298.0, 17924.0, 7177.0, 7378.0, 6958.0, 15578.0, 9072.0, 10786.0, 7668.0, 19447.0, 9216.0, 21522.0, 8422.0, 9569.0, 15474.0, 8403.0, 13578.0, 11222.0, 8494.0, 8016.0, 8919.0, 14930.0, 12531.0, 7702.0, 10438.0, 11766.0, 9851.0, 11431.0, 7752.0, 20011.0, 6766.0, 7735.0, 19343.0, 10218.0, 37127.0, 13156.0, 8564.0, 7100.0, 8319.0, 15341.0, 8876.0, 10787.0, 11265.0, 22755.0, 12848.0, 18558.0, 23592.0, 7934.0, 24450.0, 9326.0, 6835.0, 9713.0, 10635.0, 6835.0, 11016.0, 9051.0, 13849.0, 7503.0, 25290.0, 8226.0, 6551.0, 6512.0, 7369.0, 7649.0, 23495.0, 9224.0, 13901.0, 7426.0, 8298.0, 7602.0, 13774.0, 8785.0, 7831.0, 21614.0, 10655.0, 8982.0, 13658.0, 7863.0, 13711.0, 66653.0, 9994.0, 34230.0, 23189.0, 6979.0, 9214.0, 14850.0, 13054.0, 23421.0, 7408.0, 9301.0, 11494.0, 7944.0, 8918.0, 10086.0, 9324.0, 7832.0, 6637.0, 10984.0, 12180.0, 13410.0, 7264.0, 7816.0, 8267.0, 9192.0, 7876.0, 8837.0, 9324.0, 10041.0, 7845.0, 6981.0, 7296.0, 11254.0, 6798.0, 8417.0, 9710.0, 17361.0, 17672.0, 6570.0, 8784.0, 13818.0, 24780.0, 29184.0, 7641.0, 8564.0, 7867.0, 22815.0, 7811.0, 9374.0, 7984.0, 7780.0, 29207.0, 15341.0, 12276.0, 8044.0, 6929.0, 6791.0, 7336.0, 20928.0, 15841.0, 8725.0, 7051.0, 10269.0, 6971.0, 6690.0, 20723.0, 7010.0, 7067.0, 6507.0, 11862.0, 16992.0, 8514.0, 56831.0, 8669.0, 10005.0, 8379.0, 16397.0, 7313.0, 12159.0, 8806.0, 11219.0, 14522.0, 19358.0, 6641.0, 7747.0, 25947.0, 6619.0, 11854.0, 10465.0, 51439.0, 13107.0, 10378.0, 6659.0, 7162.0, 6839.0, 16786.0, 7628.0, 8097.0, 36935.0, 13342.0, 13578.0, 22867.0, 6699.0, 6836.0, 6525.0, 9317.0, 8278.0, 31868.0, 10721.0, 6507.0, 8590.0, 8486.0, 20772.0, 6691.0, 8585.0, 18777.0, 6718.0]
Number of Outliers: 510
None
Date_Contacted
Outliers: []
Number of Outliers: 0
None
Call_Duration
Outliers: [1574.0, 1689.0, 2087.0, 1692.0, 1721.0, 1867.0, 1622.0, 1882.0, 1777.0, 1681.0, 1697.0, 3094.0, 1730.0, 1980.0, 2456.0, 2653.0, 3881.0, 2769.0, 2621.0, 1574.0, 1663.0, 1617.0, 3183.0, 2029.0, 1973.0, 1649.0, 1669.0, 1806.0, 1656.0, 1584.0, 1877.0, 1833.0, 1602.0, 1946.0, 2015.0, 2516.0, 1721.0, 1613.0, 1735.0, 1842.0, 1871.0, 1576.0, 1877.0, 1642.0, 2372.0, 3253.0, 2016.0, 1789.0, 1978.0, 1855.0, 1792.0, 1720.0, 1598.0, 1571.0, 1917.0, 2770.0, 1776.0, 1776.0, 1579.0, 2775.0, 1916.0, 1661.0, 1971.0, 3076.0, 1665.0, 1691.0, 1594.0, 1579.0, 1817.0, 1975.0, 1723.0, 1871.0, 1702.0, 1707.0, 1628.0, 2062.0, 1616.0, 1835.0, 1573.0, 2330.0, 2028.0, 1623.0, 1677.0, 1608.0, 1865.0, 3102.0, 1579.0, 1597.0, 1600.0, 1635.0, 2301.0, 1658.0, 1767.0, 1603.0, 2692.0, 1790.0, 2231.0, 1806.0, 2078.0, 2016.0, 2184.0, 2420.0, 1970.0, 1960.0, 1576.0, 1962.0, 1598.0, 2453.0, 2093.0, 1710.0, 1720.0, 1855.0, 2053.0, 1735.0, 1740.0, 3284.0, 2027.0, 1812.0]
Number of Outliers: 118
None
Num_Calls_made
Outliers: [11, 10, 15, 12, 12, 14, 15, 15, 11, 10, 11, 10, 11, 10, 11, 11, 24, 13, 17, 13, 29, 17, 13, 10, 14, 14, 10, 11, 10, 11, 13, 12, 17, 10, 21, 10, 13, 17, 11, 10, 11, 11, 11, 17, 17, 14, 13, 10, 15, 11, 12, 20, 16, 16, 11, 10, 10, 10, 32, 11, 11, 19, 11, 13, 10, 10, 10, 13, 25, 17, 10, 10, 11, 15, 16, 10, 10, 10, 24, 14, 10, 13, 12, 14, 10, 12, 12, 11, 22, 11, 13, 10, 12, 24, 13, 14, 11, 19, 15, 12, 19, 13, 21, 43, 10, 11, 19, 13, 12, 25, 12, 11, 18, 41, 13, 12, 11, 32, 43, 22, 16, 10, 17, 11, 10, 10, 13, 10, 10, 10, 15, 11, 13, 20, 16, 13, 16, 63, 17, 10, 12, 12, 12, 27, 30, 14, 10, 13, 12, 15, 18, 13, 15, 10, 12, 20, 13, 10, 10, 17, 11, 13, 11, 15, 14, 18, 14, 11, 16, 10, 10, 20, 21, 21, 26, 24, 24, 13, 12, 25, 10, 29, 12, 10, 23, 18, 12, 10, 10, 19, 10, 11, 17, 10, 12, 18, 14, 18, 13, 17, 13, 15, 12, 28, 10, 26, 23, 26, 12, 23, 12, 18, 11, 17, 10, 11, 13, 12, 11, 21, 11, 33, 11, 18, 10, 13, 11, 13, 10, 13, 10, 12, 22, 10, 11, 11, 31, 14, 14, 11, 21, 21, 12, 22, 13, 13, 15, 14, 16, 16, 11, 21, 12, 14, 30, 15, 30, 30, 20, 10, 12, 17]
Number of Outliers: 262
None
Days_since_last_contact
Outliers: []
Number of Outliers: 0
None
Num-calls_made_earlier
Outliers: [10, 7, 9, 5, 7, 29, 6, 13, 5, 17, 7, 8, 6, 9, 5, 6, 7, 5, 6, 5, 8, 5, 5, 6, 8, 7, 6, 5, 11, 6, 30, 5, 6, 6, 5, 6, 22, 13, 11, 7, 58, 5, 8, 5, 6, 6, 6, 6, 7, 7, 7, 8, 6, 21, 5, 14, 8, 7, 5, 5, 6, 5, 26, 6, 7, 5, 5, 6, 5, 10, 5, 5, 5, 6, 13, 5, 8, 12, 5, 5, 8, 7, 5, 6, 5, 5, 5, 5, 5, 5, 5, 8, 5, 7, 7, 8, 7, 12, 8, 10, 5, 7, 5, 6, 6, 5, 17, 8, 5, 5, 5, 9, 5, 19, 9, 5, 9, 10, 9, 10, 6, 5, 12, 6, 6, 5, 5, 8, 7, 5, 13, 5, 6, 5, 5, 5, 7, 6, 6, 9, 6, 5, 6, 7, 5, 11, 6, 7, 6, 6, 5, 10, 6, 11, 5, 5, 5, 6, 7, 6, 6, 6, 6, 6, 10, 6, 6, 8, 7, 5, 8, 5, 5, 5, 7, 8, 11, 11, 7, 5, 8, 6, 10, 5, 5, 10, 5, 5, 7, 7, 10, 5, 6, 5, 8, 7, 9, 7, 11, 5, 5, 12, 6, 12, 6, 6, 9, 8, 10, 6, 13, 19, 7, 5, 8, 9, 6, 10, 7, 6, 8, 55, 6, 9, 5, 7, 6, 7, 10, 5, 10, 5, 8, 8, 8, 7, 7, 17, 5, 11, 9, 11, 10, 23, 8, 6, 8, 7, 9, 6, 8, 6, 10, 15, 9, 8, 14, 7, 6, 8, 6, 7, 7, 20, 10, 10, 5, 8, 9, 5, 5, 14, 6, 5, 9, 5, 5, 13, 5, 8, 7, 6, 7, 7, 5, 11, 6, 11, 7, 13, 10, 14, 7, 7, 6, 14, 10, 5, 5, 5, 10, 6, 11, 6, 5, 5, 13, 10, 6, 7, 5, 10, 7, 5, 8, 5, 6, 8, 9, 9, 6, 6, 9, 12, 5, 7, 9, 9, 8, 6, 12, 6, 10, 7, 6, 5, 12, 5, 7, 6, 9, 5, 6, 9, 7, 5, 11, 6, 5, 5, 6, 12, 6, 6, 6, 5, 7, 13, 5, 7, 8, 5, 5, 8, 5, 8, 5, 5, 6, 5, 5, 5, 5, 5, 5, 7, 6, 5, 5, 5, 9, 11, 6, 5, 12, 5, 8, 6, 5, 5, 8, 5, 7, 11, 5, 10, 6, 5, 5, 10, 6, 10, 27, 9, 8, 5, 15, 13, 6, 6, 7, 16, 5, 11, 9, 17, 6, 7, 7, 5, 6, 5, 8, 6, 6, 6, 13, 7, 9, 5, 12, 41, 7, 17, 6, 11, 6, 5, 8, 7, 5, 7, 7, 5, 6, 5, 6, 7, 8, 17, 5, 6, 11, 5, 7, 6, 8, 5, 8, 7, 6, 5, 9, 7, 8, 27, 8, 7, 7, 6, 6, 17, 6, 6, 11, 6, 7, 8, 6, 6, 8, 6, 9, 7, 11, 5, 17, 9, 12, 7, 10, 9, 8, 5, 12, 5, 5, 5, 6, 17, 5, 5, 40, 11, 6, 17, 8, 16, 5, 5, 5, 6, 5, 15, 7, 5, 7, 5, 5, 8, 9, 9, 7, 8, 8, 6, 11, 14, 8, 6, 6, 5, 5, 10, 19, 5, 28, 5, 18, 8, 6, 5, 7, 15, 7, 5, 8, 5, 23, 5, 37, 10, 15, 6, 12, 5, 5, 5, 6, 11, 5, 20, 5, 19, 5, 9, 6, 5, 12, 8, 6, 8, 7, 17, 12, 6, 8, 5, 5]
Number of Outliers: 579
None

In [33]:
def Winsorization_outliers(df):
    out=[]
    q1 = df.quantile(0.005)
    q3 = df.quantile(0.995)
    for i in df:
        if i > q3 or i < q1:
            out.append(i)
    print(var)
    print("q1:", q1, "q3:",q3)
    print("Outliers:",out)
    print("Number of Outliers:",len(out))

for var in num_columns:        
    print(Winsorization_outliers(bank[var]))

age
q1: 21.0 q3: 80.0
Outliers: [85, 90, 85, 83, 83, 19, 20, 95, 85, 20, 83, 82, 20, 19, 20, 18, 20, 18, 82, 20, 86, 18, 83, 84, 83, 87, 19, 92, 82, 81, 87, 20, 82, 81, 18, 86, 81, 84, 20, 87, 85, 92, 81, 20, 18, 82, 20, 90, 83, 19, 82, 84, 86, 19, 19, 18, 84, 19, 86, 19, 93, 82, 82, 93, 84, 20, 81, 81, 18, 19, 20, 20, 20, 19, 19, 20, 88, 85, 82, 18, 81, 20, 20, 20, 81, 87, 81, 19, 82, 83, 89, 19, 20, 88, 20, 86]
Number of Outliers: 96
None
Savings_balance
q1: 0.0 q3: 20038.30500000002
Outliers: [34646.0, 20138.0, 22520.0, 23878.0, 36252.0, 23878.0, 27624.0, 22086.0, 20585.0, 52587.0, 27696.0, 24277.0, 20585.0, 22867.0, 81204.0, 27696.0, 52587.0, 81204.0, 29080.0, 31472.0, 27696.0, 22125.0, 45248.0, 23076.0, 29340.0, 26965.0, 32685.0, 27696.0, 20806.0, 22867.0, 20718.0, 21522.0, 37127.0, 22755.0, 23592.0, 24450.0, 25290.0, 23495.0, 21614.0, 66653.0, 34230.0, 23189.0, 23421.0, 24780.0, 29184.0, 22815.0, 29207.0, 20928.0, 20723.0, 56831.0, 25947.0, 51439.0, 36935.0, 22867.0, 31868.0, 20772.0]
Number of Outliers: 56
None
Date_Contacted
q1: 1.0 q3: 31.0
Outliers: []
Number of Outliers: 0
None
Call_Duration
q1: 10.0 q3: 1820.4400000000023
Outliers: [2087.0, 1867.0, 1882.0, 3094.0, 1980.0, 2456.0, 2653.0, 3881.0, 2769.0, 2621.0, 3183.0, 2029.0, 1973.0, 1877.0, 1833.0, 1946.0, 2015.0, 2516.0, 1842.0, 1871.0, 1877.0, 2372.0, 3253.0, 2016.0, 1978.0, 1855.0, 8.0, 1917.0, 2770.0, 2775.0, 1916.0, 1971.0, 3076.0, 1975.0, 1871.0, 2062.0, 1835.0, 2330.0, 2028.0, 1865.0, 3102.0, 2301.0, 2692.0, 2231.0, 2078.0, 2016.0, 2184.0, 2420.0, 1970.0, 1960.0, 1962.0, 2453.0, 2093.0, 8.0, 8.0, 8.0, 9.0, 1855.0, 7.0, 2053.0, 8.0, 7.0, 7.0, 9.0, 9.0, 7.0, 7.0, 8.0, 8.0, 5.0, 7.0, 8.0, 8.0, 6.0, 8.0, 9.0, 3284.0, 7.0, 7.0, 6.0, 9.0, 5.0, 7.0, 8.0, 6.0, 6.0, 7.0, 7.0, 8.0, 9.0, 2027.0, 7.0, 7.0, 7.0, 7.0, 8.0, 6.0, 6.0, 8.0, 8.0, 5.0, 9.0, 9.0, 9.0, 5.0, 8.0, 7.0, 9.0]
Number of Outliers: 108
None
Num_Calls_made
q1: 1.0 q3: 18.0
Outliers: [24, 29, 21, 20, 32, 19, 25, 24, 22, 24, 19, 19, 21, 43, 19, 25, 41, 32, 43, 22, 20, 63, 27, 30, 20, 20, 21, 21, 26, 24, 24, 25, 29, 23, 19, 28, 26, 23, 26, 23, 21, 33, 22, 31, 21, 21, 22, 21, 30, 30, 30, 20]
Number of Outliers: 52
None
Days_since_last_contact
q1: 30.570000000000007 q3: 1000.0
Outliers: [27.0, 10.0, 2.0, 9.0, 4.0, 6.0, 9.0, 13.0, 13.0, 22.0, 9.0, 17.0, 10.0, 21.0, 10.0, 28.0, 20.0, 1.0, 1.0, 1.0, 13.0, 1.0, 29.0, 1.0, 2.0, 14.0, 10.0, 1.0, 28.0, 14.0, 5.0, 9.0, 2.0, 2.0, 6.0, 15.0, 8.0, 9.0, 6.0, 2.0, 2.0, 2.0, 1.0, 9.0, 21.0, 12.0, 1.0, 8.0, 14.0, 14.0, 9.0, 2.0, 5.0, 28.0, 24.0, 17.0]
Number of Outliers: 56
None
Num-calls_made_earlier
q1: 0.0 q3: 13.0
Outliers: [29, 17, 30, 22, 58, 21, 14, 26, 17, 19, 19, 55, 17, 23, 15, 14, 20, 14, 14, 14, 27, 15, 16, 17, 41, 17, 17, 27, 17, 17, 17, 40, 17, 16, 15, 14, 19, 28, 18, 15, 23, 37, 15, 20, 19, 17]
Number of Outliers: 46
None

In [34]:
def ZRscore_outlier(df):
    out=[]
    med = np.median(df)
    ma = stats.median_absolute_deviation(df)
    for i in df: 
        z = (0.6745*(i-med))/ (np.median(ma))
        if np.abs(z) > 5: 
            out.append(i)
    print("Outliers:",out)
    print("Number of Outliers:",len(out))
    
for var in num_columns: 
    print(ZRscore_outlier(bank[var]))

AttributeError: module 'scipy.stats' has no attribute 'median_absolute_deviation'

In [ ]:
def grubbs_test(x):
    n = len(x)
    mean_x = np.mean(x)
    sd_x = np.std(x)
    numerator = max(abs(x-mean_x))
    g_calculated = numerator/sd_x
    print("Grubbs Calculated Value:",g_calculated)
    t_value = stats.t.ppf(1 - 0.05 / (2 * n), n - 2)
    g_critical = ((n - 1) * np.sqrt(np.square(t_value))) / (np.sqrt(n) * np.sqrt(n - 2 + np.square(t_value)))
    print("Grubbs Critical Value:",g_critical)
    if g_critical > g_calculated:
        print("No outliers\n")
    else:
        print("Outliers Exist\n")
        
for var in num_columns: 
    print(grubbs_test(bank[var]))

In [ ]:
# Multivariate Outliers

from sklearn.cluster import DBSCAN
def DB_outliers(df):
    outlier_detection = DBSCAN(eps = 2, metric='euclidean', min_samples = 5)
    clusters = outlier_detection.fit_predict(df.values.reshape(-1,1))
    data = pd.DataFrame()
    data['cluster'] = clusters
    print(data['cluster'].value_counts().sort_values(ascending=False))
    
for var in num_columns: 
    print(var)
    print(DB_outliers(bank[var]))

In [ ]:
# Identifying outliers based on Random Forests

from sklearn.ensemble import IsolationForest
def Iso_outliers(df):
    iso = IsolationForest(random_state = 1, contamination= 'auto')
    preds = iso.fit_predict(df.values.reshape(-1,1))
    data = pd.DataFrame()
    data['cluster'] = preds
    print(data['cluster'].value_counts().sort_values(ascending=False))
    
for var in num_columns: 
    Iso_outliers(bank[var])

## Visualizations

In [ ]:
# Numerical Columns - Univariate - Histogram with Density Plot
for var in num_columns: 
    plt.figure()
    sns.histplot(data = bank, x = var, kde = True, color='teal', alpha=0.6)
    sns.kdeplot

In [ ]:
# Categorical Columns - Univariate - Simple Frequency Chart
plt.figure(figsize=(15,8))
for var in cat_columns: 
    plt.figure()
    sns.countplot(data = bank, x = var)

In [ ]:
# Categorical Columns - Bivariate - Simple Frequency Chart distributed across categories
plt.figure(figsize=(15,8))
for var in cat_columns: 
    plt.figure()
    sns.countplot(data = bank, x = "deposit", hue = var)

In [ ]:
# Numerical - Numerical Scatter Plot - Scatter Plot Matrix # Subdivided by the deposit Variable
sns.pairplot(bank)

In [ ]:
# Numerical - Numerical Regression Plot - 
for var1 in num_columns:
    for var2 in num_columns:
        plt.figure()
        sns.regplot(data = bank, x = var1, y = var2, color='teal')

In [ ]:
# Numerical - Numerical Scatter Plot - Scatter Plot Matrix # Subdivided by the deposit Variable
sns.pairplot(bank, hue = "deposit")

In [ ]:
for var in num_columns: 
    for i in cat_columns:
        plt.figure()
        sns.catplot(x=i,y=var,data=bank,kind='box',col='deposit',palette='Dark2')

In [ ]:
# Heatmap representation of correlation
sns.heatmap(bank.corr(), annot=True, cmap = "viridis")

In [ ]:
import statsmodels.api as sm
def qq_plots(df):
    plt.figure(figsize=(10, 4))
    sm.qqplot(df,line='s')
    plt.title("Normal QQPlot---"+var)
    plt.show()
for var in num_columns: 
    qq_plots(bank[var])

## Scikit-Learn

In [ ]:
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler,PowerTransformer,QuantileTransformer
from sklearn.feature_selection import VarianceThreshold

In [ ]:
bank['deposit'] = bank['deposit'].replace(['no','yes'],['0','1'])

In [ ]:
# Separate the features variables from the deposit Variables

X = bank.drop(["deposit"],axis = 1)
y = bank['deposit']

In [ ]:
# Have a list of categorical and numerical columns

categorical_columns = X.select_dtypes(include='object').columns
numerical_columns = X.select_dtypes(exclude='object').columns

In [ ]:
# Encoding Categorical Variables on the entire Feature data

X = pd.get_dummies(data = X, prefix = categorical_columns, prefix_sep='_',
               columns = categorical_columns,
               drop_first =True,
              dtype='int8')
X

In [ ]:
# Splitting the data into training and testing

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [ ]:
# Capture the columns of training data

col_names = X_train.columns

In [ ]:
X_train

In [ ]:
X_test

## Feature Selection

### Constant Features Removal (Zero Variance Removal)

In [ ]:
# Filter out any variables with a single constant value

constant_filter = VarianceThreshold(threshold=0)
constant_filter.fit(X_train)

In [ ]:
constant_filter.get_support().sum()

In [ ]:
constant_list = [not temp for temp in constant_filter.get_support()]
constant_list

In [ ]:
constant_filter.get_support()

In [ ]:
col_names = col_names[constant_filter.get_support()]

In [ ]:
X_train = pd.DataFrame(constant_filter.transform(X_train),columns = col_names)
X_test = pd.DataFrame(constant_filter.transform(X_test),columns = col_names)

In [ ]:
X_train

In [ ]:
0.999*0+0.001*1

In [ ]:
0.999*(0-0.001)**2+0.001*(1-0.001)**2

### Quasi Constant Removal (Near Zero Variance)

In [ ]:
# Set the threshold for Near Zero Variance and run it on the training data

quasi_constant_filter = VarianceThreshold(threshold=0.001)
quasi_constant_filter.fit(X_train)

In [ ]:
# Find the number of variables that get retained and collect their column names
quasi_constant_filter.get_support().sum()
col_names = col_names[quasi_constant_filter.get_support()]

In [ ]:
quasi_constant_filter.get_support().sum()

In [ ]:
# Remove the eliminated columns from both the training and the testing data and retain only the survived columns

X_train = pd.DataFrame(quasi_constant_filter.transform(X_train),columns = col_names)
X_test = pd.DataFrame(quasi_constant_filter.transform(X_test), columns = col_names)

In [ ]:
X_train.head()

### Remove Duplicate Features

In [ ]:
# Transpose the rows to columns and vice versa
X_train_T = X_train.T
X_test_T = X_test.T

In [ ]:
# Convert the matrix to a Data Frame
X_train_T = pd.DataFrame(X_train_T)
X_test_T = pd.DataFrame(X_test_T)

In [ ]:
X_train_T.shape, X_test_T.shape

In [ ]:
# Count the number of duplicated rows

X_train_T.duplicated().sum()

In [ ]:
# Get the names of duplicated features
duplicated_features = X_train_T.duplicated()
duplicated_features

In [ ]:
# Remove the features that are identified as duplicates and retain the remaining ones
features_to_keep = [not index for index in duplicated_features]

In [ ]:
# Gather the names of the retained columns
col_names = col_names[features_to_keep]

In [ ]:
# Filter the data by removing the duplicate column
X_train = pd.DataFrame(X_train_T[features_to_keep].T,columns = col_names)
X_test = pd.DataFrame(X_test_T[features_to_keep].T,columns = col_names)

In [ ]:
X_train.head()

### Correlated Feature Removal

In [ ]:
# Take paiwise correlation

corrmat = X_train.corr()

In [ ]:
# Heat Map of the correlation

plt.figure(figsize=(50,25))
sns.heatmap(corrmat, annot = True, cmap = 'viridis')

In [ ]:
# Function to capture pair wise correlations greater than a set threshold

def get_correlation(data, threshold):
    corr_col = set()
    corrmat = data.corr()
    for i in range(len(corrmat.columns)):
        for j in range(i):
            if abs(corrmat.iloc[i, j])> threshold:
                colname = corrmat.columns[i]
                corr_col.add(colname)
    return corr_col

In [ ]:
corr_features_1 = get_correlation(X_train, 1)
corr_features_1

In [ ]:
col_names

In [ ]:
# Simple outright dropping of the correlated columns
X_train = X_train.drop(labels=corr_features_1, axis = 1)
X_test = X_test.drop(labels = corr_features_1, axis = 1)

In [ ]:
col_names = col_names.drop(corr_features_1)

In [ ]:
X_train.columns = col_names
X_test.columns = col_names

In [ ]:
X_train.head()

### Feature Grouping and Feature Importance

In [ ]:
# Take paiwise correlation

corrmat = X_train.corr()

In [ ]:
corr_features_1 = get_correlation(X_train, 0.95)
corr_features_1

In [ ]:
# Convert the correlation matrix into a columnal form
corrdata = corrmat.abs().stack()
corrdata

In [ ]:
corrdata = corrdata.sort_values(ascending=False)
corrdata

In [ ]:
corrdata = corrdata[corrdata>0.95]
corrdata = corrdata[corrdata<1]
corrdata

In [ ]:
corrdata = pd.DataFrame(corrdata).reset_index()
corrdata.columns = ['features1', 'features2', 'corr_value']
corrdata

In [ ]:
# Groups of the correlated features

grouped_feature_list = []
correlated_groups_list = []
for feature in corrdata.features1.unique():
    if feature not in grouped_feature_list:
        correlated_block = corrdata[corrdata.features1 == feature]
        grouped_feature_list = grouped_feature_list + list(correlated_block.features2.unique()) + [feature]
        correlated_groups_list.append(correlated_block)

In [ ]:
correlated_groups_list

In [ ]:
for group in correlated_groups_list:
    print(group)

In [ ]:
# Feature importance using RF classifier

from sklearn.ensemble import RandomForestClassifier
important_features = []
for group in correlated_groups_list:
    features = list(group.features1.unique()) + list(group.features2.unique())
    #features = col_names[features]
    rf = RandomForestClassifier(n_estimators=100, random_state=0)
    y_train=y_train.astype('int')
    rf.fit(X_train[features], y_train)
    
    importance = pd.concat([pd.Series(features), pd.Series(rf.feature_importances_)], axis = 1)
    importance.columns = ['features', 'importance']
    importance.sort_values(by = 'importance', ascending = False, inplace = True)
    feat = importance.iloc[0]
    important_features.append(feat)

In [ ]:
important_features

In [ ]:
important_features = pd.DataFrame(important_features)

In [ ]:
important_features.reset_index(inplace=True, drop = True)

In [ ]:
important_features

In [ ]:
features_to_consider = set(important_features)

In [ ]:
features_to_discard = set(corr_features_1) - set(features_to_consider)

In [ ]:
features_to_discard = list(features_to_discard)

In [ ]:
features_to_discard

In [ ]:
X_train = X_train.drop(labels = features_to_discard, axis = 1)
X_train.shape

In [ ]:
X_test = X_test.drop(labels=features_to_discard, axis = 1)
X_test.shape

In [ ]:
X_train.head()

## Other univariate feature Selection

### Feature selection based on Chi Square test

In [ ]:
from sklearn.feature_selection import chi2
from sklearn.feature_selection import SelectKBest, SelectPercentile

In [ ]:
sel = chi2(X_train, y_train)
sel

In [ ]:
p_values = pd.Series(sel[1])
p_values.index = X_train.columns
p_values.sort_values(ascending = True, inplace = True)

In [ ]:
p_values.plot.bar(figsize = (16, 5))

In [ ]:
p_values = p_values[p_values<0.05]

In [ ]:
p_values.index

In [ ]:
X_train_p = X_train[p_values.index]
X_test_p = X_test[p_values.index]

In [ ]:
X_train_p.head()

In [ ]:
new_cols = X_train.columns
new_cols

### Feature selection based on mutual information

In [ ]:
from sklearn.feature_selection import VarianceThreshold, mutual_info_classif, mutual_info_regression
from sklearn.feature_selection import SelectKBest, SelectPercentile

In [ ]:
mi = mutual_info_classif(X_train, y_train.astype(int))

In [ ]:
mi = pd.Series(mi)
mi.index = X_train.columns
mi.sort_values(ascending=False, inplace = True)

In [ ]:
mi.plot.bar(figsize = (16,5))

In [ ]:
mi

In [ ]:
sel = mi[mi.values>0.0001].index
sel

In [ ]:
X_train = X_train[sel]
X_test = X_test[sel]

In [ ]:
X_train.head()

## Feature selection based on F Score

In [ ]:
from sklearn.feature_selection import f_classif, f_regression
from sklearn.feature_selection import SelectKBest, SelectPercentile

In [ ]:
sel = f_classif(X_train, y_train)
sel

In [ ]:
p_values = pd.Series(sel[1])
p_values.index = X_train.columns
p_values.sort_values(ascending = True, inplace = True)

In [ ]:
p_values.plot.bar(figsize = (16, 5))

In [ ]:
p_values = p_values[p_values<0.05]

In [ ]:
p_values.index

In [ ]:
X_train_p = X_train[p_values.index]
X_test_p = X_test[p_values.index]

In [ ]:
X_train_p.head()

In [ ]:
new_cols = X_train.columns
new_cols

### using PCA

In [ ]:
from sklearn.decomposition import PCA

In [ ]:
pca = PCA(n_components=5, random_state=42)
pca.fit(X_train)

In [ ]:
X_train_pca = pca.transform(X_train)
X_test_pca = pca.transform(X_test)
X_train_pca.shape, X_test_pca.shape

In [ ]:
X_train_pca

## Feature Transformation

In [ ]:
# You can perform Box Cox or Yeo-Johnson (Non Normal transformation)
bctrans = PowerTransformer(method = 'yeo-johnson').fit(X_train)
X_train = pd.DataFrame(bctrans.transform(X_train), columns = new_cols)
X_test = pd.DataFrame(bctrans.transform(X_test), columns = new_cols)
X_train.head()

In [ ]:
X_train.skew()

In [ ]:
X_train.kurt()

In [ ]:
X_train.describe()

In [ ]:
scaler = preprocessing.StandardScaler().fit(X_train)
X_train = pd.DataFrame(scaler.transform(X_train),columns = new_cols)
X_test = pd.DataFrame(scaler.transform(X_test),columns = new_cols)
X_train.head()

In [ ]:
y_train = y_train.astype('int')
y_test = y_test.astype('int')

## Basic Perceptron

In [ ]:
from sklearn.linear_model import Perceptron
from sklearn.metrics import accuracy_score, balanced_accuracy_score, classification_report, cohen_kappa_score, confusion_matrix, f1_score, precision_recall_curve, precision_score, recall_score, roc_auc_score, roc_curve, plot_confusion_matrix, plot_precision_recall_curve, plot_roc_curve

In [ ]:
# Execute the Default model
model = Perceptron()
model.fit(X_train,y_train)
model.coef_

In [ ]:
# Accuracy on training data
model.score(X_train,y_train)

In [ ]:
y_train.value_counts()

In [ ]:
4079/(4079+3731)

In [ ]:
# Predict the model on the Testing Data
y_pred = model.predict(X_test)
# Predict probabilities of belonging to each of the groups
#y_pred_proba = model.predict_proba(X_test)

In [ ]:
2*0.65625*0.7413350449293966/(0.65625+0.7413350449293966)

In [ ]:
pd.DataFrame(y_test).value_counts()

In [ ]:
1558/(1558+1790)

In [ ]:
1-0.46535244922341695

In [ ]:
# Print Some importance performance measures
print(accuracy_score(y_test,y_pred))
print(balanced_accuracy_score(y_test,y_pred))
print(f1_score(y_test,y_pred))
print(precision_score(y_test,y_pred))
print(recall_score(y_test,y_pred))
plot_confusion_matrix(model,X_test,y_test)
print(cohen_kappa_score(y_test,y_pred))
#print(roc_auc_score(y_test, y_pred_proba[:,1]))
#plot_roc_curve(model,X_test,y_test)

## Logistic Regression

In [ ]:
t = np.linspace(-100, 100, 1000)
sig = 1 / (1 + np.exp(-t))
plt.figure(figsize=(9, 3))
plt.plot(t, sig, "b-", linewidth=2, label=r"$\sigma(t) = \frac{1}{1 + e^{-t}}$")
plt.xlabel("t")
plt.legend(loc="upper left", fontsize=20)
plt.axis([-10, 10, -0.1, 1.1])
plt.show()

In [ ]:
from sklearn.linear_model import LogisticRegression, RidgeClassifier, SGDClassifier
from sklearn.metrics import accuracy_score, balanced_accuracy_score, classification_report, cohen_kappa_score, confusion_matrix, f1_score, precision_recall_curve, precision_score, recall_score, roc_auc_score, roc_curve, plot_confusion_matrix, plot_precision_recall_curve, plot_roc_curve

In [ ]:
model = LogisticRegression()
model.fit(X_train,y_train)

In [ ]:
X_train.columns

In [ ]:
# Accuracy on training data
model.score(X_train,y_train)

In [ ]:
pd.DataFrame(y_train).value_counts()

In [ ]:
4079/(4079+3731)

In [ ]:
# Predict the model on the Testing Data
y_pred = model.predict(X_test)
# Predict probabilities of belonging to each of the groups
y_pred_proba = model.predict_proba(X_test)

In [ ]:
print(accuracy_score(y_test,y_pred))
print(balanced_accuracy_score(y_test,y_pred))
print(f1_score(y_test,y_pred))
print(precision_score(y_test,y_pred))
print(recall_score(y_test,y_pred))
plot_confusion_matrix(model,X_test,y_test)
print(cohen_kappa_score(y_test,y_pred))
print(classification_report(y_test,y_pred))
print(roc_auc_score(y_test, y_pred_proba[:,1]))
plot_roc_curve(model,X_test,y_test)

In [ ]:
# Cross Validation as a better process over train-test split
from sklearn.model_selection import cross_val_score
scores_accuracy = cross_val_score(model, X, y, cv=10, scoring='accuracy')
scores_balanced_accuracy = cross_val_score(model, X, y, cv=10, scoring='balanced_accuracy')
scores_auc = cross_val_score(model, X, y, cv=10, scoring='roc_auc')
scores_accuracy.mean(),scores_balanced_accuracy.mean(), scores_auc.mean()

In [ ]:
scores_accuracy,scores_balanced_accuracy,scores_auc

In [ ]:
# Hyper parameter tuning
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
param_grid = {'penalty':['l1','l2','elasticnet','none'],
              'C':[0.01,0.1,1,10,100],
              'fit_intercept':[True, False]}

In [ ]:
# Initiate your model
model = LogisticRegression()
# Get a list of all possible parameters

grid_search_acc = GridSearchCV(estimator = model,  
                           param_grid = param_grid,
                           scoring = 'accuracy',
                           cv = 10,
                           verbose=0)
grid_search_Bal_acc = GridSearchCV(estimator = model,  
                           param_grid = param_grid,
                           scoring = 'balanced_accuracy',
                           cv = 10,
                           verbose=0)
grid_search_auc = GridSearchCV(estimator = model,  
                           param_grid = param_grid,
                           scoring = 'roc_auc',
                           cv = 10,
                           verbose=0)
grid_search_acc.fit(X_train, y_train)
grid_search_Bal_acc.fit(X_train, y_train)
grid_search_auc.fit(X_train, y_train)

In [ ]:
print(grid_search_acc.best_params_)
print(grid_search_Bal_acc.best_params_)
print(grid_search_auc.best_params_)

In [ ]:
grid_search_acc = LogisticRegression(C = 1, fit_intercept= False, penalty= 'l2')
grid_search_acc.fit(X_train,y_train)

In [ ]:
y_pred = grid_search_acc.predict(X_test)

In [ ]:
grid_search_acc

In [ ]:
print(accuracy_score(y_test,y_pred))
print(balanced_accuracy_score(y_test,y_pred))
print(f1_score(y_test,y_pred))
print(precision_score(y_test,y_pred))
print(recall_score(y_test,y_pred))
print(confusion_matrix(y_test, y_pred))
print(cohen_kappa_score(y_test,y_pred))
print(classification_report(y_test,y_pred))
print(roc_auc_score(y_test, y_pred_proba[:,1]))

In [ ]:
import statsmodels.api as sm

In [ ]:
y_train

In [ ]:
y_train = y_train.values.reshape(-1,1)
# building the model and fitting the data
log_reg = sm.Logit(y_train, X_train).fit()

In [ ]:
# printing the summary table
print(log_reg.summary())

In [ ]:
# performing predictions on the test datdaset
yhat = log_reg.predict(X_test)
prediction = list(map(round, yhat))

In [ ]:
print(accuracy_score(y_test,prediction))

## KNN Classifier

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
model = KNeighborsClassifier()
model.fit(X_train,y_train)

In [ ]:
# Accuracy on training data
model.score(X_train,y_train)

In [ ]:
# Predict the model on the Testing Data
y_pred = model.predict(X_test)
# Predict probabilities of belonging to each of the groups
y_pred_proba = model.predict_proba(X_test)

In [ ]:
print(accuracy_score(y_test,y_pred))
print(balanced_accuracy_score(y_test,y_pred))
print(f1_score(y_test,y_pred))
print(precision_score(y_test,y_pred))
print(recall_score(y_test,y_pred))
plot_confusion_matrix(model,X_test,y_test)
print(cohen_kappa_score(y_test,y_pred))
print(classification_report(y_test,y_pred))
print(roc_auc_score(y_test, y_pred_proba[:,1]))
plot_roc_curve(model,X_test,y_test)

In [ ]:
# Hyper parameter tuning
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
param_grid = {'n_neighbors':[3,5,9,15,25],
              'weights':['uniform','distance'],
              'p':[1,2,3]
              }

In [ ]:
# Initiate your model
model = KNeighborsClassifier()
# Get a list of all possible parameters

grid_search_acc = GridSearchCV(estimator = model,  
                           param_grid = param_grid,
                           scoring = 'accuracy',
                           cv = 10,
                           verbose=0)
grid_search_Bal_acc = GridSearchCV(estimator = model,  
                           param_grid = param_grid,
                           scoring = 'balanced_accuracy',
                           cv = 10,
                           verbose=0)
grid_search_auc = GridSearchCV(estimator = model,  
                           param_grid = param_grid,
                           scoring = 'roc_auc',
                           cv = 10,
                           verbose=0)
grid_search_acc.fit(X_train, y_train)
grid_search_Bal_acc.fit(X_train, y_train)
grid_search_auc.fit(X_train, y_train)

In [ ]:
print(grid_search_acc.best_params_)
print(grid_search_Bal_acc.best_params_)
print(grid_search_auc.best_params_)

In [ ]:
y_pred = grid_search_auc.predict(X_test)

In [ ]:
print(accuracy_score(y_test,y_pred))
print(balanced_accuracy_score(y_test,y_pred))
print(f1_score(y_test,y_pred))
print(precision_score(y_test,y_pred))
print(recall_score(y_test,y_pred))
print(confusion_matrix(y_test, y_pred))
print(cohen_kappa_score(y_test,y_pred))
print(classification_report(y_test,y_pred))
print(roc_auc_score(y_test, y_pred_proba[:,1]))

In [ ]:
np.round(np.sqrt(X_train.shape[0]),0)

In [ ]:
neighbors = np.arange(1, int(np.round(np.sqrt(X_train.shape[0]),0)))
train_accuracy = np.empty(len(neighbors))
test_accuracy = np.empty(len(neighbors))


for i, k in enumerate(neighbors):
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_train, y_train) 
   
    train_accuracy[i] = knn.score(X_train, y_train)
    test_accuracy[i] = knn.score(X_test, y_test)
    
    # Generate plot
plt.plot(neighbors, test_accuracy, label = 'Testing dataset Accuracy')
plt.plot(neighbors, train_accuracy, label = 'Training dataset Accuracy')
 
plt.legend()
plt.xlabel('n_neighbors')
plt.ylabel('Accuracy')
plt.show()
test_accuracy

# Support Vector Machines

In [ ]:
from sklearn.svm import SVC

In [ ]:
model = SVC(probability = True)
model.fit(X_train,y_train)

In [ ]:
# Accuracy on training data
model.score(X_train,y_train)

In [ ]:
# Predict the model on the Testing Data
y_pred = model.predict(X_test)
# Predict probabilities of belonging to each of the groups
y_pred_proba = model.predict_proba(X_test)

In [ ]:
print(accuracy_score(y_test,y_pred))
print(balanced_accuracy_score(y_test,y_pred))
print(f1_score(y_test,y_pred))
print(precision_score(y_test,y_pred))
print(recall_score(y_test,y_pred))
plot_confusion_matrix(model,X_test,y_test)
print(cohen_kappa_score(y_test,y_pred))
print(classification_report(y_test,y_pred))
print(roc_auc_score(y_test, y_pred_proba[:,1]))
plot_roc_curve(model,X_test,y_test)

In [ ]:
# Cross Validation as a better process over train-test split
from sklearn.model_selection import cross_val_score
scores_accuracy = cross_val_score(model, X_train, y_train, cv=10, scoring='accuracy')
scores_balanced_accuracy = cross_val_score(model, X_train, y_train, cv=10, scoring='balanced_accuracy')
scores_auc = cross_val_score(model, X_train, y_train, cv=10, scoring='roc_auc')
scores_accuracy.mean(),scores_balanced_accuracy.mean(), scores_auc.mean()

In [ ]:
scores_accuracy,scores_balanced_accuracy,scores_auc

In [ ]:
# Hyper parameter tuning
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
param_grid = {'criterion':['gini','entropy'],
              'max_depth':['None',2,3,4,5],
              'max_features':['auto',2,3,5,8],
              'min_samples_split':[2,3,5,8],
              'n_estimators': [25,50,100,200,400]
              }

In [ ]:
# Initiate your model
model = RandomForestClassifier()
# Get a list of all possible parameters

grid_search_acc = GridSearchCV(estimator = model,  
                           param_grid = param_grid,
                           scoring = 'accuracy',
                           cv = 10,
                           verbose=0)
grid_search_Bal_acc = GridSearchCV(estimator = model,  
                           param_grid = param_grid,
                           scoring = 'balanced_accuracy',
                           cv = 10,
                           verbose=0)
grid_search_auc = GridSearchCV(estimator = model,  
                           param_grid = param_grid,
                           scoring = 'roc_auc',
                           cv = 10,
                           verbose=0)
grid_search_acc.fit(X_train, y_train)
grid_search_Bal_acc.fit(X_train, y_train)
grid_search_auc.fit(X_train, y_train)

In [ ]:
print(grid_search_acc.best_params_)
print(grid_search_Bal_acc.best_params_)
print(grid_search_auc.best_params_)

In [ ]:
y_pred = grid_search_acc.predict(X_test)

In [ ]:
grid_search_acc

In [ ]:
print(accuracy_score(y_test,y_pred))
print(balanced_accuracy_score(y_test,y_pred))
print(f1_score(y_test,y_pred))
print(precision_score(y_test,y_pred))
print(recall_score(y_test,y_pred))
print(confusion_matrix(y_test, y_pred))
print(cohen_kappa_score(y_test,y_pred))
print(classification_report(y_test,y_pred))
print(roc_auc_score(y_test, y_pred_proba[:,1]))

# Decision Tree Classifier

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
model = DecisionTreeClassifier()
model.fit(X_train,y_train)

In [ ]:
# Accuracy on training data
model.score(X_train,y_train)

In [ ]:
# Predict the model on the Testing Data
y_pred = model.predict(X_test)
# Predict probabilities of belonging to each of the groups
y_pred_proba = model.predict_proba(X_test)

In [ ]:
print(accuracy_score(y_test,y_pred))
print(balanced_accuracy_score(y_test,y_pred))
print(f1_score(y_test,y_pred))
print(precision_score(y_test,y_pred))
print(recall_score(y_test,y_pred))
plot_confusion_matrix(model,X_test,y_test)
print(cohen_kappa_score(y_test,y_pred))
print(classification_report(y_test,y_pred))
print(roc_auc_score(y_test, y_pred_proba[:,1]))
plot_roc_curve(model,X_test,y_test)

In [ ]:
# Cross Validation as a better process over train-test split
from sklearn.model_selection import cross_val_score
scores_accuracy = cross_val_score(model, X_train, y_train, cv=10, scoring='accuracy')
scores_balanced_accuracy = cross_val_score(model, X_train, y_train, cv=10, scoring='balanced_accuracy')
scores_auc = cross_val_score(model, X_train, y_train, cv=10, scoring='roc_auc')
scores_accuracy.mean(),scores_balanced_accuracy.mean(), scores_auc.mean()

In [ ]:
scores_accuracy,scores_balanced_accuracy,scores_auc

In [ ]:
# Hyper parameter tuning
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
param_grid = {'criterion':['gini','entropy'],
              'max_depth':[2,3,4,5,"None"],
              'min_samples_split':[2,3,5,8],
              'max_features':[2,3,5,8,"None"]}

In [ ]:
# Initiate your model
model = DecisionTreeClassifier()
# Get a list of all possible parameters

grid_search_acc = GridSearchCV(estimator = model,  
                           param_grid = param_grid,
                           scoring = 'accuracy',
                           cv = 10,
                           verbose=0)
grid_search_Bal_acc = GridSearchCV(estimator = model,  
                           param_grid = param_grid,
                           scoring = 'balanced_accuracy',
                           cv = 10,
                           verbose=0)
grid_search_auc = GridSearchCV(estimator = model,  
                           param_grid = param_grid,
                           scoring = 'roc_auc',
                           cv = 10,
                           verbose=0)
grid_search_acc.fit(X_train, y_train)
grid_search_Bal_acc.fit(X_train, y_train)
grid_search_auc.fit(X_train, y_train)

In [ ]:
print(grid_search_acc.best_params_)
print(grid_search_Bal_acc.best_params_)
print(grid_search_auc.best_params_)

In [ ]:
y_pred = grid_search_acc.predict(X_test)

In [ ]:
grid_search_acc

In [ ]:
print(accuracy_score(y_test,y_pred))
print(balanced_accuracy_score(y_test,y_pred))
print(f1_score(y_test,y_pred))
print(precision_score(y_test,y_pred))
print(recall_score(y_test,y_pred))
print(confusion_matrix(y_test, y_pred))
print(cohen_kappa_score(y_test,y_pred))
print(classification_report(y_test,y_pred))
print(roc_auc_score(y_test, y_pred_proba[:,1]))

# Random Forest Classification

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
model = RandomForestClassifier()
model.fit(X_train,y_train)

In [ ]:
# Accuracy on training data
model.score(X_train,y_train)

In [ ]:
# Predict the model on the Testing Data
y_pred = model.predict(X_test)
# Predict probabilities of belonging to each of the groups
y_pred_proba = model.predict_proba(X_test)

In [ ]:
print(accuracy_score(y_test,y_pred))
print(balanced_accuracy_score(y_test,y_pred))
print(f1_score(y_test,y_pred))
print(precision_score(y_test,y_pred))
print(recall_score(y_test,y_pred))
plot_confusion_matrix(model,X_test,y_test)
print(cohen_kappa_score(y_test,y_pred))
print(classification_report(y_test,y_pred))
print(roc_auc_score(y_test, y_pred_proba[:,1]))
plot_roc_curve(model,X_test,y_test)

In [ ]:
# Cross Validation as a better process over train-test split
from sklearn.model_selection import cross_val_score
scores_accuracy = cross_val_score(model, X_train, y_train, cv=10, scoring='accuracy')
scores_balanced_accuracy = cross_val_score(model, X_train, y_train, cv=10, scoring='balanced_accuracy')
scores_auc = cross_val_score(model, X_train, y_train, cv=10, scoring='roc_auc')
scores_accuracy.mean(),scores_balanced_accuracy.mean(), scores_auc.mean()

In [ ]:
scores_accuracy,scores_balanced_accuracy,scores_auc

In [ ]:
# Hyper parameter tuning
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
param_grid = {'criterion':['gini','entropy'],
              'max_depth':['None',2,3,4,5],
              'max_features':['auto',2,3,5,8],
              'min_samples_split':[2,3,5,8],
              'n_estimators': [25,50,100,200,400]
              }

In [ ]:
# Initiate your model
model = RandomForestClassifier()
# Get a list of all possible parameters

grid_search_acc = GridSearchCV(estimator = model,  
                           param_grid = param_grid,
                           scoring = 'accuracy',
                           cv = 10,
                           verbose=0)
grid_search_Bal_acc = GridSearchCV(estimator = model,  
                           param_grid = param_grid,
                           scoring = 'balanced_accuracy',
                           cv = 10,
                           verbose=0)
grid_search_auc = GridSearchCV(estimator = model,  
                           param_grid = param_grid,
                           scoring = 'roc_auc',
                           cv = 10,
                           verbose=0)
grid_search_acc.fit(X_train, y_train)
grid_search_Bal_acc.fit(X_train, y_train)
grid_search_auc.fit(X_train, y_train)

In [ ]:
print(grid_search_acc.best_params_)
print(grid_search_Bal_acc.best_params_)
print(grid_search_auc.best_params_)

In [ ]:
y_pred = grid_search_acc.predict(X_test)

In [ ]:
grid_search_acc

In [ ]:
print(accuracy_score(y_test,y_pred))
print(balanced_accuracy_score(y_test,y_pred))
print(f1_score(y_test,y_pred))
print(precision_score(y_test,y_pred))
print(recall_score(y_test,y_pred))
print(confusion_matrix(y_test, y_pred))
print(cohen_kappa_score(y_test,y_pred))
print(classification_report(y_test,y_pred))
print(roc_auc_score(y_test, y_pred_proba[:,1]))

In [ ]:
### Visualize decision Trees

In [ ]:
model = DecisionTreeClassifier(criterion = 'gini', max_depth = 4, max_features= 8, min_samples_split= 2)
model.fit(X_train,y_train)
from sklearn import tree
text_representation = tree.export_text(model)
print(text_representation)

In [ ]:
fig = plt.figure(figsize=(25,20))
_ = tree.plot_tree(model, 
                   feature_names=X_train.columns,
                   filled=True)

In [ ]:
fig.savefig("decistion_tree.png")

# Gradient Booosting Classification

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier

In [ ]:
model = GradientBoostingClassifier()
model.fit(X_train,y_train)

In [ ]:
# Accuracy on training data
model.score(X_train,y_train)

In [ ]:
# Predict the model on the Testing Data
y_pred = model.predict(X_test)
# Predict probabilities of belonging to each of the groups
y_pred_proba = model.predict_proba(X_test)

In [ ]:
print(accuracy_score(y_test,y_pred))
print(balanced_accuracy_score(y_test,y_pred))
print(f1_score(y_test,y_pred))
print(precision_score(y_test,y_pred))
print(recall_score(y_test,y_pred))
plot_confusion_matrix(model,X_test,y_test)
print(cohen_kappa_score(y_test,y_pred))
print(classification_report(y_test,y_pred))
print(roc_auc_score(y_test, y_pred_proba[:,1]))
plot_roc_curve(model,X_test,y_test)

In [ ]:
# Cross Validation as a better process over train-test split
from sklearn.model_selection import cross_val_score
scores_accuracy = cross_val_score(model, X_train, y_train, cv=10, scoring='accuracy')
scores_balanced_accuracy = cross_val_score(model, X_train, y_train, cv=10, scoring='balanced_accuracy')
scores_auc = cross_val_score(model, X_train, y_train, cv=10, scoring='roc_auc')
scores_accuracy.mean(),scores_balanced_accuracy.mean(), scores_auc.mean()

In [ ]:
scores_accuracy,scores_balanced_accuracy,scores_auc

In [ ]:
# Hyper parameter tuning
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
param_grid = {'max_depth':['None',2,3,4,5],
              'max_features':['auto',2,3,5,8],
              'min_samples_split':[2,3,5,8],
              'n_estimators': [25,50,100,200,400],
               'learning_rate': [0.01,0.05,0.1,0.2,0.5]
              }

In [ ]:
# Initiate your model
model = GradientBoostingClassifier()
# Get a list of all possible parameters

grid_search_acc = GridSearchCV(estimator = model,  
                           param_grid = param_grid,
                           scoring = 'accuracy',
                           cv = 10,
                           verbose=0)
grid_search_Bal_acc = GridSearchCV(estimator = model,  
                           param_grid = param_grid,
                           scoring = 'balanced_accuracy',
                           cv = 10,
                           verbose=0)
grid_search_auc = GridSearchCV(estimator = model,  
                           param_grid = param_grid,
                           scoring = 'roc_auc',
                           cv = 10,
                           verbose=0)
grid_search_acc.fit(X_train, y_train)
grid_search_Bal_acc.fit(X_train, y_train)
grid_search_auc.fit(X_train, y_train)

In [ ]:
print(grid_search_acc.best_params_)
print(grid_search_Bal_acc.best_params_)
print(grid_search_auc.best_params_)

In [ ]:
y_pred = grid_search_acc.predict(X_test)

In [ ]:
grid_search_acc

In [ ]:
print(accuracy_score(y_test,y_pred))
print(balanced_accuracy_score(y_test,y_pred))
print(f1_score(y_test,y_pred))
print(precision_score(y_test,y_pred))
print(recall_score(y_test,y_pred))
print(confusion_matrix(y_test, y_pred))
print(cohen_kappa_score(y_test,y_pred))
print(classification_report(y_test,y_pred))
print(roc_auc_score(y_test, y_pred_proba[:,1]))

## XGBOOST

In [ ]:
from xgboost import XGBClassifier

In [ ]:
model = XGBClassifier(use_label_encoder=False, 
                      booster='gbtree', # boosting algorithm to use, default gbtree, othera: gblinear, dart
                      n_estimators=100, # number of trees, default = 100
                      eta=0.3, # this is learning rate, default = 0.3
                      max_depth=6, # maximum depth of the tree, default = 6
                      gamma = 0, # used for pruning, if gain < gamma the branch will be pruned, default = 0
                      reg_lambda = 1, # regularization parameter, defautl = 1
                      #min_child_weight=0 # this refers to Cover which is also responsible for pruning if not set to 0
                     )

In [ ]:
clf = model.fit(X_train, y_train)

In [ ]:
# Predict class labels on training data
pred_labels_tr = model.predict(X_train)
# Predict class labels on a test data
pred_labels_te = model.predict(X_test)

In [ ]:
score_te = model.score(X_test, y_test)
score_te

In [ ]:
score_tr = model.score(X_train, y_train)
score_tr

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV

In [ ]:
param_grid = {'eta':[0,0.2,0.4,0.6,0.8,1],'gamma':[0,1,2,4,8,16],"n_estimators":[1,5,10,20,40,100],'min_child_weight':[0,1,2,4,8,16],'max_depth':range(2,10),'subsample':[0,0.2,0.4,0.6,0.8,1]}

In [ ]:
grid = RandomizedSearchCV(model,param_distributions=param_grid,scoring = 'accuracy',n_iter = 50)
grid.fit(X_train,y_train)
grid.best_params_

In [ ]:
y_pred = grid.predict(X_test)
[round(accuracy_score(y_test,y_pred),3),round(cohen_kappa_score(y_test,y_pred),3),round(roc_auc_score(y_test,y_pred),3)]

## Naive bayes

In [ ]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)

In [ ]:
y_pred = classifier.predict(X_test)

In [ ]:
print(accuracy_score(y_test,y_pred))
print(balanced_accuracy_score(y_test,y_pred))
print(f1_score(y_test,y_pred))
print(precision_score(y_test,y_pred))
print(recall_score(y_test,y_pred))
plot_confusion_matrix(classifier,X_test,y_test)
print(cohen_kappa_score(y_test,y_pred))
print(classification_report(y_test,y_pred))
#print(roc_auc_score(y_test, y_pred_proba[:,1]))
plot_roc_curve(classifier,X_test,y_test)

In [ ]:
accuracy_score(y_test, y_pred)

## MultiLayer Perceptron (Artificial Neural Network)

In [ ]:
from sklearn.neural_network import MLPClassifier

In [ ]:
model = MLPClassifier()
model.fit(X_train, y_train)
y_pred = perceptron.predict(X_test)

In [ ]:
plot_confusion_matrix(model,X_test,y_test)

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV

In [ ]:
param_grid = {'activation':['identity','logistic','tanh','relu'],
             'learning_rate':['constant','invscaling','adaptive'],
              'learning_rate_init':[0.001, 0.005, 0.01],
              'shuffle':[True, False]}

In [ ]:
grid = GridSearchCV(model,param_grid=param_grid)
grid.fit(X_train,y_train)
grid.best_params_

In [ ]:
y_pred = grid.predict(X_test)
[round(accuracy_score(y_test,y_pred),3),round(cohen_kappa_score(y_test,y_pred),3),round(roc_auc_score(y_test,y_pred),3)]

# Implementing an end-end project using Pipeline

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import  MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import cohen_kappa_score
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier

In [ ]:
def GetBasedModel():
    basedModels = []
    basedModels.append(('LR'   , LogisticRegression()))
    basedModels.append(('LDA'  , LinearDiscriminantAnalysis()))
    basedModels.append(('KNN'  , KNeighborsClassifier()))
    basedModels.append(('CART' , DecisionTreeClassifier()))
    basedModels.append(('NB'   , GaussianNB()))
    basedModels.append(('SVM'  , SVC(probability=True)))
    basedModels.append(('AB'   , AdaBoostClassifier()))
    basedModels.append(('GBM'  , GradientBoostingClassifier()))
    basedModels.append(('RF'   , RandomForestClassifier()))
    basedModels.append(('NN'   , MLPClassifier()))
    
    return basedModels

In [ ]:
def BasedLine2(X_train, y_train,models):
    # Test options and evaluation metric
    num_folds = 10
    scoring = 'accuracy'

    results = []
    names = []
    for name, model in models:
        kfold = StratifiedKFold(n_splits=num_folds)
        cv_results = cross_val_score(model, X_train, y_train, cv=kfold, scoring=scoring)
        results.append(cv_results)
        names.append(name)
        msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
        print(msg)
        
    return names, results

In [ ]:
models = GetBasedModel()
names,results = BasedLine2(X_train, y_train,models)

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler


def GetScaledModel(nameOfScaler):
    
    if nameOfScaler == 'standard':
        scaler = StandardScaler()
    elif nameOfScaler =='minmax':
        scaler = MinMaxScaler()

    pipelines = []
    pipelines.append((nameOfScaler+'LR'  , Pipeline([('Scaler', scaler),('LR'  , LogisticRegression())])))
    pipelines.append((nameOfScaler+'LDA' , Pipeline([('Scaler', scaler),('LDA' , LinearDiscriminantAnalysis())])))
    pipelines.append((nameOfScaler+'KNN' , Pipeline([('Scaler', scaler),('KNN' , KNeighborsClassifier())])))
    pipelines.append((nameOfScaler+'CART', Pipeline([('Scaler', scaler),('CART', DecisionTreeClassifier())])))
    pipelines.append((nameOfScaler+'NB'  , Pipeline([('Scaler', scaler),('NB'  , GaussianNB())])))
    pipelines.append((nameOfScaler+'SVM' , Pipeline([('Scaler', scaler),('SVM' , SVC())])))
    pipelines.append((nameOfScaler+'AB'  , Pipeline([('Scaler', scaler),('AB'  , AdaBoostClassifier())])  ))
    pipelines.append((nameOfScaler+'GBM' , Pipeline([('Scaler', scaler),('GMB' , GradientBoostingClassifier())])  ))
    pipelines.append((nameOfScaler+'RF'  , Pipeline([('Scaler', scaler),('RF'  , RandomForestClassifier())])  ))
    pipelines.append((nameOfScaler+'NN'  , Pipeline([('Scaler', scaler),('NN'  , MLPClassifier())])  ))


    return pipelines

In [ ]:
models = GetScaledModel('minmax')
names,results = BasedLine2(X_train, y_train,models)